ion-tab-bar {
  background: var(--ion-color-light-shade);
  border-radius: 20px 20px 0 0;
  padding: 8px;
  ion-tab-button {
    background: transparent;
    // svg {
    //   height: 1.2rem;
    //   margin-bottom: 0.2rem;
    // }
    ion-label {
      color: var(--ion-color-medium-tint);
      // font-size: 0.8rem;
    }
    ion-icon{
      color: var(--ion-color-medium-tint);
    }
  }

  ion-tab-button[aria-selected="true"] {
    // #path_1,
    // #path_2,
    // #path_3,
    // #path_4,
    // #path_5,
    // #path_6,
    // #path_7,
    // #path_8,
    // #path_9
    // {
    //   fill: var(--ion-color-major);
    //   stroke: var(--ion-color-major);
    // }
    ion-icon{
      color: var(--ion-color-app);
    }
    ion-label {
      color: var(--ion-color-app);
    }
  }
}
