<ion-tabs>

  <ion-tab-bar slot="bottom">
    <!-- <ion-tab-button tab="home">
      <ion-icon name="add"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="design" *ngIf="auth?.userData.value != null && auth?.userData.value.data_type == dataType.partner_data">
      <ion-icon name="color-palette"></ion-icon>
      <ion-label>設計</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="partner-appointment" *ngIf="auth?.userData.value != null && auth?.userData.value.data_type == dataType.partner_data">
      <ion-icon name="reader"></ion-icon>
      <ion-label>客人預約</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="report" *ngIf="auth?.userData.value != null && auth?.userData.value.data_type == dataType.partner_data">
      <ion-icon name="stats-chart"></ion-icon>
      <ion-label>報告</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="shopping" *ngIf="auth?.userData.value == null || auth?.userData.value.data_type == dataType.customer_data">
      <ion-icon name="storefront"></ion-icon>
      <ion-label>商店</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="redeem" *ngIf="auth?.userData.value == null || auth?.userData.value.data_type == dataType.customer_data">
      <ion-icon name="gift"></ion-icon>
      <ion-label>積分兌換</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="order" *ngIf="auth?.userData.value == null || auth?.userData.value.data_type == dataType.customer_data">
      <ion-icon name="reader"></ion-icon>
      <ion-label>我的訂單</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="appointment" *ngIf="auth?.userData.value == null || auth?.userData.value.data_type == dataType.customer_data">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>預約服務</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="home">
      <ion-icon name="add"></ion-icon>

      <ion-label>456</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="profile" *ngIf="auth?.userData.value != null">
      <ion-icon name="person"></ion-icon>

      <ion-label>個人檔案</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>