<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/tabs/order']" >
        <ion-icon slot="start" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row style="height: 100%;">
    <ion-col size="12" class="ion-text-center ion-align-self-center">
      <img style="width: 200px;" src="../assets/icon/order_created.png" alt="">
      <h2 class="ion-text-center" style="font-size: 16px; font-weight: bolder;">你的訂單已成功建立！</h2>
    </ion-col>
  </ion-row>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
  </ion-toolbar>
</ion-footer>