<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/order"></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>購物車</ion-title> -->
  </ion-toolbar>
</ion-header>


<ion-content>
  <app-order [order_data]="order_data" [allow_edit]="false"></app-order>
</ion-content>
