<app-header [title]="" data_type="reservation_timeslot_data" [create_btn]="true"></app-header>

<ion-content class="ion-padding">
  <!-- <ion-header>
    <ion-navbar>
      <ion-title>{{viewTitle}}</ion-title>
      <ion-buttons end>
        <button ion-button [disabled]="isToday" (click)="today()">Today</button>
        <button ion-button (click)="changeMode('month')">M</button>
        <button ion-button (click)="changeMode('week')">W</button>
        <button ion-button (click)="changeMode('day')">D</button>
        <button ion-button (click)="loadEvents()">Load Events</button>
      </ion-buttons>
    </ion-navbar>
  </ion-header> -->

  <app-table [data_type]="'reservation_timeslot_data'"></app-table>
  <br>
  <ion-row>
    <ion-col size="3">
      <ion-button [disabled]="isToday" (click)="today()" color="medium"  >
        Today
      </ion-button>
      <!-- <ion-button (click)="loadEvents()" color="medium">
        Load Events
      </ion-button> -->
    </ion-col>
    <ion-col style="display: inline-flex; flex-direction: row; align-items: center; justify-content: space-evenly;" size="6" class="ion-text-center ion-align-self-center">
      <ion-icon (click)="slide('previous')" style="font-size: 24px;" class="clickable" name="chevron-back-outline"></ion-icon>
      <h1 style="margin: 0%;">{{viewTitle}}</h1>
      <ion-icon (click)="slide('next')" style="font-size: 24px;" class="clickable" name="chevron-forward-outline"></ion-icon>
    </ion-col>
    <ion-col size="3" class="ion-text-right">
      <ion-button (click)="changeMode('month')" color="medium">
        M
      </ion-button>
      <ion-button (click)="changeMode('week')" color="medium">
        W
      </ion-button>
      <ion-button (click)="changeMode('day')" color="medium">
        D
      </ion-button>
    </ion-col>
  </ion-row>
  <calendar [eventSource]="eventSource" [calendarMode]="calendar.mode" [currentDate]="calendar.currentDate"
    (onCurrentDateChanged)="onCurrentDateChanged($event)"
    (onEventSelected)="onEventSelected($event)" (onTitleChanged)="onViewTitleChanged($event)"
    (onTimeSelected)="onTimeSelected($event)" [step]="calendar.step">
  </calendar>


</ion-content>