<ion-header>
  <ion-toolbar>
    <ion-title>Activity Log</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-margin">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let element"> {{element?.title}} </td>
      </ng-container>
      <ng-container matColumnDef="create_datetime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Create datetime </th>
        <td mat-cell *matCellDef="let element;"> {{element?.create_datetime | date:'yyyy-MM-dd HH:mm'}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>

</ion-content>
