<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-left">{{title}}</ion-title>
    <ion-buttons *ngIf="create_btn" slot="end">
      <ion-button  color="success" fill="outline" (click)="modalService?.presentTableModal('create', null, data_type)">
        <ion-icon slot="start" name="add"></ion-icon>
        Create
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>