<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"> 
      <ion-button (click)="presentLogoutAlert()">
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="edit_profile == false"> 
      <ion-button (click)="edit_profile = true">
        <ion-icon slot="start" name="create-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="edit_profile == true"> 
      <ion-button style="--color: var(--ion-color-app);" (click)="resetUserData()">
        取消
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <input style="display: none;" type="file" #upload_img accept="image/x-png,image/jpeg" (change)="uploadImg()">

  <div class="ion-margin ion-text-center">
    <div class="ion-margin" *ngIf="!edit_profile && user_data.data_type == DataType.customer_data">
      <!-- <qrcode [imageSrc]="'./assets/icon/hkitowo_icon.jpg'" [qrdata]="'hkitowo_user_'+user_data.id" [width]="128" [errorCorrectionLevel]="'M'"></qrcode> -->
      <qrcode [qrdata]="'hkitowo_user_'+user_data.id" [width]="128" [errorCorrectionLevel]="'M'"></qrcode>
    </div>

    <ion-avatar style="margin: auto; height: 100px; width: 100px;">
      <img [src]="user_data.profile_img != '' ? user_data.profile_img : 'default_avatar.svg'" />
    </ion-avatar>
    <!-- <h1 style="font-size: 20px; margin: 0%;">{{user_data?.display_name}}</h1> -->
    <ion-button *ngIf="edit_profile" class="edit-btn" (click)="triggerImgUpload()" fill="outline" shape="round">
      上載新圖片
    </ion-button>
  </div>
  <ion-list class="ion-margin">
    <ion-item class="ion-margin-bottom" [class]="edit_profile ? 'edit-item' : ''">
      <ion-icon slot="start" name="person-outline"></ion-icon>
      <ion-label *ngIf="user_data.data_type == DataType.customer_data">名稱</ion-label>
      <ion-label style="color: var(--ion-color-app);" slot="start" *ngIf="user_data.data_type == DataType.partner_data">{{user_data.is_staff ? '員工' : '合伙人' }}</ion-label>
      <ion-input class="ion-text-right" [readonly]="!edit_profile"  [(ngModel)]="user_data.display_name"  placeholder="名稱"></ion-input>
    </ion-item>
    <ion-item class="ion-margin-bottom" [class]="edit_profile ? 'edit-item' : ''">
      <ion-icon slot="start" name="mail"></ion-icon>
      <ion-label>電郵地址</ion-label>
      <ion-input class="ion-text-right" [readonly]="!edit_profile"  [(ngModel)]="user_data.email"  placeholder="電郵地址"></ion-input>
    </ion-item>
    <ion-item class="ion-margin-bottom" [class]="edit_profile ? 'edit-item' : ''">
      <ion-icon slot="start" name="call"></ion-icon>
      <ion-label>電話</ion-label>
      <ion-input class="ion-text-right" [readonly]="!edit_profile"  [(ngModel)]="user_data.phone"  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" type="tel" placeholder="電話"></ion-input>
    </ion-item>
    <ion-item class="ion-margin-bottom" [class]="edit_profile ? 'edit-item' : ''">
      <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
      <ion-label>密碼</ion-label>
      <ion-input class="ion-text-right" [readonly]="!edit_profile"  [(ngModel)]="new_password"  type="password" placeholder="新密碼"></ion-input>
    </ion-item>
    <ion-item class="ion-margin-bottom" *ngIf="!edit_profile && user_data.data_type == DataType.customer_data">
      <ion-icon slot="start" name="people"></ion-icon>
      <ion-label>推薦碼</ion-label>
      <ion-input class="ion-text-right" readonly  [(ngModel)]="user_data.referral_code"  placeholder="推薦碼"></ion-input>
    </ion-item>
    <ion-item class="ion-margin-bottom" *ngIf="user_data.data_type == DataType.customer_data">
      <ion-icon slot="start" name="people"></ion-icon>
      <ion-label>VIP</ion-label>
      <ion-toggle slot="end" mode="md" [disabled]="!isDebug" [(ngModel)]="user_data.is_vip"></ion-toggle>
    </ion-item>
    <ion-item class="ion-margin-bottom" *ngIf="isDebug && user_data.data_type == DataType.customer_data">
      <ion-icon slot="start" name="wallet"></ion-icon>
      <ion-label>積分</ion-label>
      <ion-input class="ion-text-right" [readonly]="!edit_profile"  [(ngModel)]="user_data.credit"  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" type="tel" placeholder="credit"></ion-input>
    </ion-item>


  </ion-list>


  <div class="ion-padding-top ion-padding-start ion-padding-end" *ngIf="!edit_profile">
    <ion-button (click)="privacyPolicy()" style="--border-radius: 5px;" color="app" expand="block" fill="outline" shape="round">
      Privacy Policy
    </ion-button>
  </div>

  <div class="ion-padding-top ion-padding-start ion-padding-end" *ngIf="!edit_profile">
    <ion-button (click)="terms()" style="--border-radius: 5px;" color="app" expand="block" fill="outline" shape="round">
      Terms and Conditions
    </ion-button>
  </div>

  <div class="ion-padding" *ngIf="!edit_profile">
    <ion-button (click)="presentDeleteAccountAlert()" style="--background: var(--ion-color-danger); --border-radius: 5px; --color: #ffffff;" expand="block" fill="clear" shape="round">
      刪除帳號
    </ion-button>
  </div>
  <div class="ion-padding" *ngIf="edit_profile">
    <ion-button (click)="updateProfile()" class="app-default-btn" expand="block" fill="clear" shape="round">
      儲存
    </ion-button>
  </div>


</ion-content>
