.edit-btn {
  margin-top: 16px;
  font-weight: 800;
  font-size: 14px;
  --color: var(--ion-color-app);
  --border-color: var(--ion-color-app);
  --background-activated: transparent;
  --background-focused: transparent;
}

ion-item {
  --inner-border-width: 0;
  border-bottom: 1px solid var(--ion-color-medium);
}
.edit-item {
  border: 1px solid var(--ion-color-app);
  border-radius: 8px;
}
