<ion-content style="--padding-top: var(--ion-safe-area-top);">
  <ion-row style="height: 100%;" *ngIf="(!my_appointments || my_appointments.length == 0)">
    <ion-col size="12" class="ion-text-center ion-align-self-center">
      <img style="width: 200px;" src="../assets/icon/order_created.png" alt="">
      <h2 class="ion-text-center" style="font-size: 16px; font-weight: bolder;">未有預約紀錄</h2>
    </ion-col>
  </ion-row>
  <div *ngIf="my_appointments && my_appointments.length > 0">
      <ion-item button detail="false" class="ion-margin" *ngFor="let item of my_appointments">
        <ion-row class="full-width">
          <ion-col size="4">
            <ion-label style="font-weight: bold; font-size: 18px; color: var(--ion-color-app-shade);"
              class="ion-text-wrap">{{item?.reservation_timeslot_data?.service_name}}</ion-label>
          </ion-col>
          <ion-col size="8" class="ion-text-right">
            <ion-label class="ion-text-wrap">{{item?.reservation_timeslot_data?.date | date:'yyyy-MM-dd'}}
              {{item?.reservation_timeslot_data?.start_time}}-{{item?.reservation_timeslot_data?.end_time}}</ion-label>
          </ion-col>
          <ion-col size="8" class="ion-align-self-center">
            <ion-label class="ion-text-wrap">
              價格：${{item?.reservation_timeslot_data?.price}}
              <br>
              狀態：{{item?.status}}
              <br>
              備注：{{item?.remark}}
              <br>
              <!-- 評分：{{item?.ranking}} -->
              評分：
              <ng-container *ngIf="item.ranking != null">
                <ion-icon *ngFor="let item of [].constructor(item.ranking)" slot="icon-only" name="star"></ion-icon>
              </ng-container>
  
            </ion-label>
  
          </ion-col>
          <ion-col size="4" class="ion-align-self-end">
            <!-- <ion-button class="action-btn"
              *ngIf="item.status != AppointmentStatus.completed && item.status != AppointmentStatus.cancelled"
              color="danger" (click)="presentCancelAlert(item)" expand="block" fill="clear" shape="round">
              取消預約
            </ion-button> -->
  
          </ion-col>
        </ion-row>
        <!-- <ion-label class="ion-text-wrap"></ion-label> -->
      </ion-item>
  </div>
</ion-content>
