<!-- <ion-header>
  <ion-toolbar>
    <ion-title>system</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <!-- hkitowo_user_111 -->
  <ion-grid fixed class="ion-padding" *ngIf="system_data">
    <ion-row>
      <ion-col size="6">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>vip threshold</mat-label>
          <input matInput type="number" min="0"
            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
            placeholder="threshold" [(ngModel)]="system_data.customer_vip_threshold">
            <mat-icon class="clickable" (click)="saveSystemData('customer_vip_threshold')" matSuffix>save</mat-icon>
        </mat-form-field>
      </ion-col>
      <ion-col size="6">
        <app-qr-code-scanner></app-qr-code-scanner> 
      </ion-col>

    </ion-row>
  </ion-grid>
  

</ion-content>
