<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-searchbar placeholder="" type="text" (ionChange)="productList.onSearchChange($event)" [debounce]="250"></ion-searchbar>
    <ion-buttons slot="end" style="align-self: center;" *ngIf="auth?.userData.value != null">
      <ion-button (click)="goShoppingBag()">
        <ion-icon slot="start" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" style="align-self: center;" *ngIf="auth?.userData.value == null">
      <ion-button (click)="goLogin()" style="--color: var(--ion-color-app);">
        <!-- <ion-icon slot="start" name="log-in-outline"></ion-icon> -->
        登入
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-product-list #productList [is_redeem]="true"></app-product-list>
</ion-content>