ion-card {
  border-radius: 15px;
  ion-card-title {
    font-size: 16px;
  }
  ion-card-header {
    padding: 10px;
  }

  ion-chip {
    --color: var(--ion-color-app-shade);
    border-color: var(--ion-color-app-shade);
  }
}

ion-skeleton-text {
  width: 100%;
  height: 200px;
  border-radius: 15px;
}
