<div class="ion-margin">
  <ion-row *ngIf="display_product_list != null">
    <ion-col size="6"
      *ngIf="filterValue != null && filterValue != '' && display_product_list != null && display_product_list.length == 0">
      <div style="font-size: 20px; font-weight: bold; margin: 14px 0;"
        *ngIf="filterValue != null && filterValue != '' && display_product_list != null" size="6">
        找到{{display_product_list.length}}個相關{{!is_redeem ? '商品' : '兌換商品'}}
      </div>
    </ion-col>
    <ion-col *ngFor="let item of display_product_list; let i = index" size="6">
      <div style="font-size: 20px; font-weight: bold; margin: 14px 0;"
        *ngIf="filterValue != null && filterValue != '' && display_product_list != null && i == 0" size="6">
        找到{{display_product_list.length}}個相關{{!is_redeem ? '商品' : '兌換商品'}}
      </div>
      <ion-card class="ion-no-margin ion-text-center" (click)="goProductDetailPage(item)">
        <img *ngIf="item.product_img_url_list.length > 0" [src]="item.product_img_url_list[0]" />
        <ion-card-header>
          <ion-card-title>{{item?.name}}</ion-card-title>
          <ion-card-subtitle *ngIf="!is_redeem">
            <span [style.text-decoration]="user_data?.is_vip ? 'line-through' : ''">${{item?.price}}</span>
            <!-- &nbsp; -->
            <span style="color: var(--ion-color-app);" *ngIf="user_data?.is_vip"><br>vip: ${{item?.vip_price}}</span>
          </ion-card-subtitle>
          <ion-card-subtitle *ngIf="is_redeem">
            <span>積分: {{item?.credit}}</span>
          </ion-card-subtitle>
        </ion-card-header>
        <!-- <ion-card-content>
          <ion-chip *ngFor="let attr of item.categories" mode="ios" outline="true">
            <ion-label>{{attr}}</ion-label>
          </ion-chip>
        </ion-card-content> -->
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="display_product_list == null">
    <ion-col size="6" *ngFor="let item of [].constructor(6)">
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-col>
  </ion-row>
</div>