<app-header [title]="" [data_type]="'appointment_data'" [create_btn]="true"></app-header>

<ion-content class="ion-padding">

  <app-table [data_type]="'appointment_data'"></app-table>

</ion-content>