<!-- <ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-segment mode="md" [value]="segment_value" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="day">
        <ion-label>日</ion-label>
      </ion-segment-button>
      <ion-segment-button value="week">
        <ion-label>週</ion-label>
      </ion-segment-button>
      <ion-segment-button value="month">
        <ion-label>月</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="ion-padding" *ngIf="segment_value == 'day'">

    <ion-datetime [max]="today" presentation="date" color="app" [(ngModel)]="selected_date" (ionChange)="dateChange($event)" class="ion-margin-bottom"></ion-datetime>

    <div class="table" *ngIf="data != null">
      <ion-row class="header">
        <ion-col size="3.5">Date</ion-col>
        <ion-col size="2.5" class="ion-text-right">Total Qty</ion-col>
        <ion-col size="3" class="ion-text-right">Total Sales</ion-col>
        <ion-col size="3" class="ion-text-right">Total Commission</ion-col>
      </ion-row>
      <ion-row *ngFor="let item of data">
        <ion-col size="3.5">{{item?.date}}</ion-col>
        <ion-col size="2.5" class="ion-text-right">{{item?.quantity}}</ion-col>
        <ion-col size="3" class="ion-text-right">{{item?.sales}}</ion-col>
        <ion-col size="3" class="ion-text-right">{{item?.commission}}</ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
