<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content *ngIf="partner_design_order_data">
  <div class="ion-margin">
    <h2 class="ion-no-margin">顧客資料</h2>
    <ion-item class="ion-margin-bottom" >
      <ion-label>顧客名稱</ion-label>
      <ion-icon slot="start" name="person"></ion-icon>
      <ion-input class="ion-text-right" [(ngModel)]="partner_design_order_data.customer_name"  placeholder="顧客名稱"></ion-input>
    </ion-item>
    <ion-item class="ion-margin-bottom" >
      <ion-label>電郵地址</ion-label>
      <ion-icon slot="start" name="mail"></ion-icon>
      <ion-input class="ion-text-right" [(ngModel)]="partner_design_order_data.customer_email"  placeholder="電郵地址"></ion-input>
    </ion-item>
    <ion-item class="ion-margin-bottom">
      <ion-label>電話</ion-label>
      <ion-icon slot="start" name="call"></ion-icon>
      <ion-input class="ion-text-right" [(ngModel)]="partner_design_order_data.customer_phone"  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" type="tel" placeholder="電話"></ion-input>
    </ion-item>
  </div>
  <div class="ion-margin">
    <h2 class="ion-no-margin">產品資料</h2>
    <ion-item class="ion-margin-bottom" >
      <ion-label>產品詳情</ion-label>
      <!-- <ion-icon slot="start" name="box"></ion-icon> -->
      <ion-input class="ion-text-right" [(ngModel)]="partner_design_order_data.product_detail"  placeholder="產品詳情"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom" >
      <ion-label>產品款式</ion-label>
      <ion-select (ionChange)="selectDesignProduct($event)" [(ngModel)]="partner_design_order_data.design_product" multiple="false" okText="確認" cancelText="取消">
        <ion-select-option *ngFor="let item of design_product_list; let i = index;" [value]="item">{{item?.attribute}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class="ion-margin-bottom">
      <!-- <ion-icon slot="start" name="number"></ion-icon> -->
      <ion-label>數量</ion-label>
      <ion-input class="ion-text-right" [(ngModel)]="partner_design_order_data.quantity"  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" type="tel" placeholder="數量"></ion-input>
    </ion-item>
  </div>

  <div class="ion-margin delivery-container">
    <h2 class="ion-no-margin">送貨方式</h2>
    <ion-radio-group (ionChange)="deliveryMethodChange($event)" style="background-color: var(--ion-color-light, #f4f5f8) !important;" [(ngModel)]="partner_design_order_data.delivery_data.delivery_method">
      <ion-item mode="md">
        <ion-label>店鋪自取</ion-label>
        <ion-radio slot="start" value="store_pickup"></ion-radio>
      </ion-item>
  
      <ion-item mode="md">
        <ion-label>順豐到付</ion-label>
        <ion-radio slot="start" value="sf_delivery"></ion-radio>
      </ion-item>
      <ion-item *ngIf="partner_design_order_data.delivery_data.delivery_method == 'sf_delivery'">
        <!-- <ion-icon slot="start" name="person-outline"></ion-icon> -->
        <ion-input  [(ngModel)]="partner_design_order_data.delivery_data.delivery_address"  placeholder="請輸入送貨地址"></ion-input>
      </ion-item>
    </ion-radio-group>
  </div>

  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="next()">
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
