ion-item {
  --inner-border-width: 0;
  border-bottom: 1px solid var(--ion-color-medium);
  border: 1px solid var(--ion-color-app);
  border-radius: 8px;
}


.delivery-container{
    ion-item{
      --background: transparent !important;
      margin-bottom: 16px;
      ion-radio{
        --color-checked: var(--ion-color-app);
      }
    }
  }