
.checkout-btn {
  --background: var(--ion-color-dark-shade);
  --color: var(--ion-background-color);
  font-weight: bold;
  --border-radius: 8px;
}

.title{
    font-weight: bold;
    font-size: 16px;
}

.content{
    font-weight: bold;
    font-size: 20px;
}

.divider{
    width: 100%;
    height: 1px;
    background: var(--ion-color-medium);
    margin: 4px 0;
}