<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/shopping"></ion-back-button>
    </ion-buttons>
    <ion-title>購物車</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="customer_order_data != null && customer_order_data.cart.length > 0 && customer_order_data.is_redeemption"
    class="ion-margin" style="margin-bottom: 0%; color: var(--ion-color-app); font-size: 16px; font-weight: bold;">
    Credit剩額：{{user_data?.credit}}</div>
  <app-order [order_data]="customer_order_data" [allow_edit]="true"></app-order>
  <!-- <div *ngIf="customer_order_data != null && customer_order_data.cart.length == 0"> -->

  <ion-row style="height: 100%;" *ngIf="customer_order_data != null && customer_order_data.cart.length == 0">
    <ion-col size="12" class="ion-text-center ion-align-self-center">
      <img style="max-width: 200px;" src="../assets/icon/shopping-cart.png" alt="">
      <h2 style="margin: 12px 0; font-weight: bolder">未有選購商品</h2>
    </ion-col>
  </ion-row>

</ion-content>
<ion-footer
  *ngIf="customer_order_data != null && customer_order_data.cart.length > 0 && !customer_order_data.is_redeemption"
  class="ion-no-border">
  <ion-toolbar style="--background: var(--ion-background-color);">
    <ion-button class="ion-margin checkout-btn" (click)="getCheckoutPage()" expand="block" fill="clear" shape="round">
      結帳
    </ion-button>
  </ion-toolbar>
</ion-footer>
<ion-footer
  *ngIf="customer_order_data != null && customer_order_data.cart.length > 0 && customer_order_data.is_redeemption"
  class="ion-no-border">
  <ion-toolbar style="--background: var(--ion-background-color);">
    <ion-button class="ion-margin checkout-btn" [disabled]="customer_order_data?.total_credit > user_data?.credit"
      (click)="getCheckoutPage()" expand="block" fill="clear" shape="round">
      {{customer_order_data?.total_credit > user_data?.credit ? '積分不足' : '積分稅換'}}
    </ion-button>
  </ion-toolbar>
</ion-footer>