<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="signature"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button style="--color: var(--ion-color-app);" (click)="getPDF()">
        <ion-icon slot="start" name="download"></ion-icon>
        Quotation
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #ffffff;" *ngIf="partner_design_order_data">
  <div class="ion-padding quotation" id="quotation">
    <ion-row>
      <ion-col size="7" class="ion-text-left">
        <h1>Quotation</h1>
        <p style="margin: 0; font-weight: 500;">HKI TOWO</p>
      </ion-col>
      <ion-col size="5" class="ion-text-right">
        <img style="width: 90px;" src="../assets/icon/hkitowo_icon.png" alt="">
      </ion-col>
      <ion-col size="3" class="subheader">
        BILL TO
      </ion-col>
      <ion-col size="3" class="subheader">
        SHIP TO
      </ion-col>
      <ion-col size="3" class="subheader">
        QUOTE
      </ion-col>
      <ion-col size="3" class="subheader">
        QUOTE DATE
      </ion-col>
      <ion-col size="3" class="content">
        {{partner_design_order_data?.customer_name}}
      </ion-col>
      <ion-col size="3" class="content" *ngIf="partner_design_order_data.delivery_data.delivery_method == 'store_pickup'">
        店鋪自取
      </ion-col>
      <ion-col size="3" class="content" *ngIf="partner_design_order_data.delivery_data.delivery_method == 'sf_delivery'">
        {{partner_design_order_data?.delivery_data?.delivery_address}}
      </ion-col>
      <ion-col size="3" class="content">
        #{{util?.addLeadingZeros(partner_design_order_data.id, 6)}}
      </ion-col>
      <ion-col size="3" class="content">
        {{partner_design_order_data?.create_datetime | date:'yyyy-MM-dd'}}
      </ion-col>
    </ion-row>
    <br><br>
    <ion-row class="table-header">
      <ion-col size="2" class="header">QTY</ion-col>
      <ion-col size="4" class="header ino-text-center">DESC</ion-col>
      <ion-col size="3" class="header ion-text-right">UNIT PRICE</ion-col>
      <ion-col size="3" class="header ion-text-right">AMOUNT</ion-col>
    </ion-row>
    <ion-row class="table-content">
      <ion-col size="2">{{partner_design_order_data?.quantity}}</ion-col>
      <ion-col size="4">
        <span *ngIf="partner_design_order_data?.design_product.product_type == 'tshirt'">T-shirt </span>
        <span *ngIf="partner_design_order_data?.design_product.product_type == 'phone_case'">Phone case</span>
        {{partner_design_order_data?.design_product.attribute}}
        <span *ngIf="partner_design_order_data.product_detail">{{partner_design_order_data?.product_detail}}</span>
      </ion-col>
      <ion-col size="3" class="header ion-text-right">{{partner_design_order_data?.design_product?.price}}</ion-col>
      <ion-col size="3" class="header ion-text-right">{{partner_design_order_data?.subtotal}}</ion-col>
    </ion-row>
    <ion-row class="table-content">
      <ion-col size="2"></ion-col>
      <ion-col size="4"></ion-col>
      <ion-col size="3" class="header ion-text-right">Subtotal</ion-col>
      <ion-col size="3" class="header ion-text-right">{{partner_design_order_data?.subtotal}}</ion-col>
    </ion-row>
    <ion-row class="table-content">
      <ion-col size="2"></ion-col>
      <ion-col size="4"></ion-col>
      <ion-col size="3" class="header ion-text-right" style="font-weight: bolder;">Total</ion-col>
      <ion-col size="3" class="header ion-text-right">{{partner_design_order_data?.total_amount}}</ion-col>
    </ion-row>
    <br>
    <div class="full-width ion-text-right">
      <img style="max-width:30%;" [src]="partner_design_order_data?.signature_image" alt="">
    </div>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="next()">
      <ion-icon name="checkmark-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
