.quotation{
 h1, p, ion-col{
     color: var(--ion-color-light);
 }   
 h1{
     font-weight: bold;
 }
 .subheader{
    color: var(--ion-color-light);
    font-weight: 500;
    font-size: 9px;
 }
 .content{
     font-size: 8px;
 }
}
.table-header{
    padding: 4px;
    background: var(--ion-color-dark-shade);
    ion-col{
        padding: 0%;
    }
    .header{
        font-size: 9px; font-weight: 500;   
    }
}
.table-content{
    padding: 4px;
}