<ion-content>
  <ion-header class="ion-no-border">
    <ion-toolbar style="--background: transparent;">
      <div class="ion-text-right" style="margin-right: 8px;" (click)="goShopping()">跳過</div>
    </ion-toolbar>
  </ion-header>
  <ion-grid fixed class="ion-padding">
    <ion-row>
      <ion-col size="12">
        <div class="logo-div ion-padding">
          <h1 class="ion-text-center">HKI TOW<span style="color: var(--ion-color-app);">O</span></h1>
        </div>
      </ion-col>
      <ion-col size="12">
        <ion-item class="ion-item-input">
          <ion-icon slot="start" name="mail-outline"></ion-icon>
          <ion-input type="email" [(ngModel)]="email" placeholder="電郵地址"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item class="ion-item-input">
          <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
          <ion-input type="password" [(ngModel)]="password" placeholder="密碼"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6" class="ion-text-left">
        <ion-label (click)="changeLoginType()" style="color: var(--ion-color-app);">{{data_type == dataType.customer_data ? '夥伴登入' : '顧客登入'}}</ion-label>
      </ion-col>
      <ion-col size="6" class="ion-text-right">
        <ion-label style="color: var(--ion-color-app);">忘記密碼?</ion-label>
      </ion-col>
      <ion-col size="12" class="ion-margin-top">
        <ion-button class="app-default-btn ion-margin-top" (click)="login()" expand="block" fill="clear" shape="round">
          登入
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="ion-padding ion-margin-bottom register-div">
    <p class="ion-text-center">未有帳號？<span [routerLink]="['/register']" routerLink="forward">按此註冊</span></p>
  </div>
</ion-content>