ion-grid, ion-row{
    height: 90%;
}
ion-row{
    align-content: center;
}
ion-footer{
    ion-toolbar{
        --background: #000000;
    }
}
.register-div{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    p{
        margin: 0;
        span{
            color: var(--ion-color-app);
            font-weight: bold;
        }
    }
}
