<h4 mat-dialog-title class="ion-text-center">確認要刪除資料?</h4>
<br>
<div mat-dialog-actions class="ion-text-center">
  <button  class="ion-margin-start ion-margin-end default-mat-btn" style="background: var(--ion-color-light-shade);" mat-button mat-dialog-close (click)="confirm()">是</button>
  <button  class="ion-margin-start ion-margin-end default-mat-btn" mat-button mat-dialog-close (click)="close()">否</button>
</div>