<ion-app>
  <mat-progress-bar class="loading_mat_progress" *ngIf="utilService.isLoading" mode="query"></mat-progress-bar>
  <div class="loading_blur" *ngIf="utilService.isLoading"></div>
  <ion-split-pane contentId="menu-content">
    <ion-menu *ngIf="isCMS && !current_url?.includes('login')" #menu swipeGesture="false"
    contentId="menu-content" type="reveal" side="start">
      <ion-header class="ion-no-border">
        <ion-toolbar>
          <ion-buttons style="color: var(--ion-color-major); border-radius: 5px;" slot="start">
            <ion-button color="app"  (click)="refresh()">
              HKI TOWO CMS
              <!-- <ion-img style="width: 100px;" src="assets/icon/logo.png"></ion-img> -->
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list id="inbox-list">
          <!-- <ion-list-header>
            Fortune CMS
          </ion-list-header> -->
          <!-- <ion-note>hi@ionicframework.com</ion-note> -->
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="current_url.includes(p.url)">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list id="labels-list">
          <!-- <ion-list-header>Labels</ion-list-header> -->
          <!-- <ion-item lines="none" >
            <ion-label>Dark Mode</ion-label>
            <ion-toggle mode="md" [checked]="utilService?.dark_mode" (ionChange)="utilService?.toggleDarkTheme()"></ion-toggle>
          </ion-item> -->
          <ion-item button="true" lines="none" (click)="authService?.Logout()" >
            <ion-icon slot='start' name="log-out-outline"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="menu-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
