<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="medium" defaultHref="login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid fixed class="ion-padding">
    <ion-row>
      <ion-col size="12">
        <div class="logo-div ion-padding">
          <h1 class="ion-text-center">HKI TOW<span style="color: var(--ion-color-app);">O</span></h1>
        </div>
      </ion-col>
      <ion-col size="12">
        <ion-item class="ion-item-input">
          <ion-icon slot="start" name="person-outline"></ion-icon>
          <ion-input [(ngModel)]="new_customer.display_name" type="text" placeholder="名稱"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item class="ion-item-input">
          <ion-icon slot="start" name="mail-outline"></ion-icon>
          <ion-input [(ngModel)]="new_customer.email" type="email" placeholder="電郵地址"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item class="ion-item-input">
          <ion-icon slot="start" name="call-outline"></ion-icon>
          <ion-input [(ngModel)]="new_customer.phone" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" type="tel" placeholder="電話"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item class="ion-item-input">
          <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
          <ion-input [(ngModel)]="new_customer.password" type="password" placeholder="密碼"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item class="ion-item-input">
          <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
          <ion-input [(ngModel)]="confirm_password" type="password" placeholder="重覆密碼"></ion-input>
        </ion-item>
      </ion-col>
      <!-- <ion-col size="12">
        <ion-item class="ion-item-input">
          <ion-icon slot="start" name="calendar-outline"></ion-icon>
          <ion-select [(ngModel)]="new_customer.month_of_birth" multiple="false" placeholder="出生月份" okText="確認" cancelText="取消">
            <ion-select-option *ngFor="let item of [].constructor(12); let i = index;" [value]="i+1">{{i+1}}月</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col> -->
      <ion-col size="12">
        <ion-item class="ion-item-input">
          <ion-icon slot="start" name="people-outline"></ion-icon>
          <ion-input [(ngModel)]="new_customer.referrer_code" type="text" placeholder="推薦碼"></ion-input>
        </ion-item>
      </ion-col>
      
      <ion-col size="12">
        <ion-button (click)="register()" class="app-default-btn" expand="block" fill="clear" shape="round">
          註冊
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>