<ion-header>
  <ion-toolbar>
    <ion-title>Sales Summary </ion-title>
    <ion-buttons (click)="download()" slot="end">
      <ion-button  color="success" fill="outline" >
        <ion-icon slot="start" name="download"></ion-icon>
        download report
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-margin">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> status </th>
        <td mat-cell *matCellDef="let element"> {{element?.status}} </td>
      </ng-container>
      <ng-container matColumnDef="design_product">
        <th mat-header-cell *matHeaderCellDef> Product </th>
        <td mat-cell *matCellDef="let element">
          {{element?.design_product?.product_type}}
        </td>
      </ng-container>
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef> Quantity </th>
        <td mat-cell *matCellDef="let element"> {{element?.quantity}} </td>
      </ng-container>
      <ng-container matColumnDef="total_amount">
        <th mat-header-cell *matHeaderCellDef> total amount </th>
        <td mat-cell *matCellDef="let element"> ${{element?.total_amount}} </td>
      </ng-container>
      <ng-container matColumnDef="commission">
        <th mat-header-cell *matHeaderCellDef> commission </th>
        <td mat-cell *matCellDef="let element"> ${{element?.commission}} </td>
      </ng-container>
      <ng-container matColumnDef="create_datetime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Create datetime </th>
        <td mat-cell *matCellDef="let element;"> {{element?.create_datetime | date:'yyyy-MM-dd HH:mm'}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>

  <!-- <div class="ion-margin partner-profile" *ngIf="partner_data">
    <ion-row>
      <ion-col size="4">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>status</mat-label>
          <mat-select disabled [(ngModel)]="partner_data.status">
            <mat-option *ngFor="let item of general_status" [value]="item">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
      </ion-col>
      <ion-col size="4">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>username</mat-label>
          <input matInput readonly placeholder="username" [(ngModel)]="partner_data.username">
        </mat-form-field>
      </ion-col>
      <ion-col size="4">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>email</mat-label>
          <input matInput readonly placeholder="email" [(ngModel)]="partner_data.email">
        </mat-form-field>
      </ion-col>
      <ion-col size="4">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Phone</mat-label>
          <input matInput type="tel" min="0"
            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
            readonly placeholder="quota" [(ngModel)]="partner_data.phone">
        </mat-form-field>
      </ion-col>
      <ion-col size="4">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Display Name</mat-label>
          <input matInput readonly placeholder="Display Name" [(ngModel)]="partner_data.display_name">
        </mat-form-field>
      </ion-col>
      <ion-col size="4">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Month of birth</mat-label>
          <mat-select disabled [(ngModel)]="partner_data.month_of_birth">
            <mat-option value="1">1</mat-option>
            <mat-option value="2">2</mat-option>
            <mat-option value="3">3</mat-option>
            <mat-option value="4">4</mat-option>
            <mat-option value="5">5</mat-option>
            <mat-option value="6">6</mat-option>
            <mat-option value="7">7</mat-option>
            <mat-option value="8">8</mat-option>
            <mat-option value="9">9</mat-option>
            <mat-option value="10">10</mat-option>
            <mat-option value="11">11</mat-option>
            <mat-option value="12">12</mat-option>
          </mat-select>
        </mat-form-field>
      </ion-col>
      <ion-col size="4">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Staff</mat-label>
          <mat-select disabled [(ngModel)]="partner_data.is_staff">
            <mat-option [value]="true">True</mat-option>
            <mat-option [value]="false">False</mat-option>
          </mat-select>
        </mat-form-field>
      </ion-col>
      <ion-col size="4" *ngIf="partner_data.is_staff == true">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Commission</mat-label>
          <input matInput type="number" min="0" max="100" readonly placeholder="Display Name"
            [(ngModel)]="partner_data.commission">
        </mat-form-field>
      </ion-col>
    </ion-row>
  </div> -->
</ion-content>