<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="shopping-bag"></ion-back-button>
    </ion-buttons>
    <ion-title>結帳</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <input style="display: none;" type="file" #upload_img accept="image/x-png,image/jpeg" (change)="uploadImg()">

  <div class="ion-margin" *ngIf="!customer_order_data.is_redeemption">
    <h2 class="ion-no-margin">付款方式</h2>
    <ion-accordion-group multiple="false" [value]="customer_order_data.payment_data?.payment_method" (ionChange)="paymentMethodChange($event)">
      <ion-accordion value="credit_card">
        <ion-item slot="header" color="light">
          <ion-label>信用卡</ion-label>
        </ion-item>
        <div class="ion-padding content" slot="content">
          <ion-row>
            <ion-col size="12">
              <ion-item>
                <!-- <ion-icon slot="start" name="person-outline"></ion-icon> -->
                <ion-input  [(ngModel)]="customer_order_data.payment_data.card_holder"  placeholder="持卡人全名"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="12">
              <ion-item>
                <!-- <ion-icon slot="start" name="person-outline"></ion-icon> -->
                <ion-input  [(ngModel)]="customer_order_data.payment_data.card_number"  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" type="tel"  placeholder="信用卡卡號"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="8">
              <ion-item>
                <!-- <ion-icon slot="start" name="person-outline"></ion-icon> -->
                <ion-input  [(ngModel)]="customer_order_data.payment_data.expiry_date"  placeholder="到期(MM/YY)"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="4">
              <ion-item>
                <!-- <ion-icon slot="start" name="person-outline"></ion-icon> -->
                <ion-input  [(ngModel)]="customer_order_data.payment_data.cvv" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" type="tel"   placeholder="cvv"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </div>
      </ion-accordion>
      <ion-accordion value="bank_transfer">
        <ion-item slot="header" color="light">
          <ion-label>銀行轉帳</ion-label>
        </ion-item>
        <div class="ion-padding content" slot="content">
          <ion-img *ngIf="customer_order_data.payment_data.bank_transfer_img" [src]="customer_order_data.payment_data.bank_transfer_img"></ion-img>
          <ion-button class="full-width" color="success" (click)="triggerImgUpload()">
            <ion-icon color="light" slot="start" name="cloud-upload-outline"></ion-icon>
            上載銀行轉帳圖片
          </ion-button>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </div>

  <div class="ion-margin delivery-container">
    <h2 class="ion-no-margin">送貨方式</h2>
    <ion-radio-group (ionChange)="deliveryMethodChange($event)" style="background-color: var(--ion-color-light, #f4f5f8) !important;" [(ngModel)]="customer_order_data.delivery_data.delivery_method">
      <ion-item mode="md">
        <ion-label>店鋪自取</ion-label>
        <ion-radio slot="start" value="store_pickup"></ion-radio>
      </ion-item>
  
      <ion-item mode="md" *ngIf="!customer_order_data.is_redeemption">
        <ion-label>順豐到付</ion-label>
        <ion-radio slot="start" value="sf_delivery"></ion-radio>
      </ion-item>
      <ion-item *ngIf="customer_order_data.delivery_data.delivery_method == 'sf_delivery'">
        <!-- <ion-icon slot="start" name="person-outline"></ion-icon> -->
        <ion-input  [(ngModel)]="customer_order_data.delivery_data.delivery_address"  placeholder="請輸入送貨地址"></ion-input>
      </ion-item>
    </ion-radio-group>
  </div>


</ion-content>
<ion-footer class="ion-no-border" *ngIf="customer_order_data != null && customer_order_data.cart.length > 0">
  <ion-toolbar style="--background: var(--ion-background-color);">
    <ion-button class="ion-margin complete-checkout-btn" (click)="completeCheckout()" expand="block" fill="clear" shape="round">
      完成結帳
    </ion-button>
  </ion-toolbar>
</ion-footer>