ion-accordion {
  margin-bottom: 16px;
  border-radius: 12px;

  .content {
    background-color: var(--ion-color-light, #f4f5f8) !important;
  }
}

ion-item {
  --inner-border-width: 0;
  --border-radius: 8px;
}

.complete-checkout-btn {
  --background: var(--ion-color-app);
  --color: var(--ion-background-dark-shade);
  font-weight: bold;
  --border-radius: 8px;
}

.delivery-container{
  ion-item{
    --background: var(--ion-color-light, #f4f5f8) !important;
    margin-bottom: 16px;
    ion-radio{
      --color-checked: var(--ion-color-app);
    }
  }
}