.product-detail {
  background-color: var(--ion-color-light-shade);
  border-radius: 45px 45px 0 0;
  padding: 24px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .category-container {
    margin-bottom: 8px;
    ion-chip {
      --color: var(--ion-color-app);
      border-color: var(--ion-color-app);
      font-size: 13px;
    }
  }
  h2 {
    font-weight: bolder;
    margin: 0%;
    margin-bottom: 8px;
  }
  p {
    margin: 0%;
    margin-bottom: 8px;
  }

  .cart-container {
    ion-text {
      --color: var(--ion-color-text);
      color: var(--ion-color-text);
    }
    h1 {
      margin: 0%;
      font-weight: bolder;
    }
    ion-item {
      --inner-padding-end: 0;
      --inner-border-width: 0;
      --background: transparent;
      --border-radius: 30px;
      --border-color: var(--ion-color-medium-shade);
    --border-style: solid;
    --border-width: 0.5px;
    --padding-start: 4px;
    --padding-end: 4px;
      ion-icon{
        font-size: 18px;
          color: var(--ion-color-text);;
          margin: 0%;
      }
      ion-label{
        margin: 0;
        font-size: 14px;
        text-align: center;
      }
    }
    .cart-btn{
        --background: var(--ion-color-app);
    --background-activated: var(--ion-color-app);
    --background-focused: var(--ion-color-app);
    --background-hover: var(--ion-color-app);
    --color: var(--ion-color-light);
    font-size: 14px;
    }
  }
}
