<ion-content>
  <ion-header class="ion-no-border" style="position: absolute; top: 0;">
    <ion-toolbar style="--background: transparent">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="tabs/shopping"></ion-back-button>
      </ion-buttons>
      <!-- <ion-title>product-detail</ion-title> -->
    </ion-toolbar>
  </ion-header>


  <div #slides_container>
    <ion-slides #slides [options]="slideOpts" mode="ios" pager="ios" scrollbar="false"
      (ionSlidesDidLoad)="ionSlidesDidLoad($event)" (ionSlideDidChange)="ionSlideDidChange($event)">
      <ion-slide *ngFor="let item of product.product_img_url_list">
        <img [src]="item" alt="">
      </ion-slide>
    </ion-slides>
  </div>


  <div class="product-detail ion-padding" [style.min-height]="getMinHeight(slides_container.offsetHeight)">
    <div>
      <h2>{{product?.name}}</h2>
      <p>{{product?.attributes_display}}</p>
      <div class="category-container">
        <ion-chip *ngFor="let item of product.categories" mode="ios" outline="true">
          <ion-label>{{item}}</ion-label>
        </ion-chip>
      </div>
      <p>{{product?.description}}</p>
    </div>
    <ion-row class="cart-container ion-align-items-center">
      <ion-col size="3.5" class="ion-align-self-center">
        <ion-text *ngIf="!is_redeem">
          <h1 [style.text-decoration]="user_data?.is_vip ? 'line-through' : ''">${{product?.price}}</h1>
          <h1 style="color: var(--ion-color-app);" *ngIf="user_data?.is_vip">${{product?.vip_price}}</h1>
        </ion-text>
        <ion-text *ngIf="is_redeem">
          <h1>{{product?.credit}}</h1>
        </ion-text>
      </ion-col>
      <ion-col size="4" class="ion-align-self-center ion-text-center">
        <ion-item>
          <ion-icon slot="start" name="remove" (click)="addOrRemoveCartCounter('remove')"></ion-icon>
          <ion-label>{{cart_counter}}</ion-label>
          <ion-icon slot="end" name="add" (click)="addOrRemoveCartCounter('add')"></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col size="4.5" class="ion-align-self-center ion-text-right">
        <ion-button (click)="orderService?.addOrRemoveProductFromOrder(product, cart_counter, is_redeem)"
          class="default-btn cart-btn" shape="round">
          更新購物車
        </ion-button>
      </ion-col>
    </ion-row>
  </div>

</ion-content>