<!-- <ion-header>
  <ion-toolbar>
    <ion-title>order</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content style="--padding-top: var(--ion-safe-area-top);">
  <ion-row style="height: 100%;" *ngIf="!my_orders || my_orders.length == 0">
    <ion-col size="12" class="ion-text-center ion-align-self-center">
      <img style="width: 200px;" src="../assets/icon/order_created.png" alt="">
      <h2 *ngIf="auth?.userData.value != null" class="ion-text-center" style="font-size: 16px; font-weight: bolder;">未有訂單，
        <span routerLink="/tabs/shopping"
          routerDirection="root" style="color: var(--ion-color-app);">立即選購商品</span>
      </h2>
      <h2 *ngIf="auth?.userData.value == null" class="ion-text-center" style="font-size: 16px; font-weight: bolder;">請先
        <span routerLink="/login"
          routerDirection="root" style="color: var(--ion-color-app);">登入</span>
      </h2>
    </ion-col>
  </ion-row>
  <div *ngIf="my_orders && my_orders.length > 0">
    <ion-item button class="ion-margin" *ngFor="let item of my_orders" (click)="goOrderDetail(item)">
      <ion-row class="full-width">
        <ion-col size="6">
          <ion-label style="font-weight: bold; font-size: 18px; color: var(--ion-color-app-shade);"
            class="ion-text-wrap">訂單{{item?.id}}</ion-label>
        </ion-col>
        <ion-col size="6" class="ion-text-right">
          <ion-label *ngIf="item.is_redeemption" style="font-weight: bold; font-size: 18px; color: var(--ion-color-app-shade);"
            class="ion-text-wrap">積分訂單</ion-label>
        </ion-col>
        <!-- <ion-col size="8" class="ion-text-right">
          <ion-label class="ion-text-wrap">{{item?.create_datetime | date:'yyyy-MM-dd'}}</ion-label>
        </ion-col> -->
        <ion-col size="8" class="ion-align-self-center">
          <ion-label class="ion-text-wrap">
            貨品數量：{{item?.total_quantity}}
            <br>
            狀態：{{item?.status}}
            <br>
            <ng-container *ngIf="!item.is_redeemption">總額：${{item?.total_amount}}</ng-container>
            <ng-container *ngIf="item.is_redeemption">總積分：{{item?.total_credit}}</ng-container>
            <br>
            日期：{{item?.create_datetime | date:'yyyy-MM-dd'}}
          </ion-label>

        </ion-col>
        <ion-col size="4" class="ion-align-self-end ion-text-center" *ngIf="!item.is_redeemption">
          <ion-button class="action-btn"
            *ngIf="item.status != OrderStatus.paid && item.status != OrderStatus.delivered && item.status != OrderStatus.completed && item.status != OrderStatus.cancelled"
            color="danger" (click)="presentCancelAlert(item);$event.stopPropagation()" expand="block" fill="clear" shape="round">
            取消訂單
          </ion-button>
        </ion-col>
      </ion-row>
      <!-- <ion-label class="ion-text-wrap"></ion-label> -->
    </ion-item>
  </div>
</ion-content>