<ion-content style="--padding-top: var(--ion-safe-area-top);">
  <div class="ion-padding">
    <ion-button class="app-default-btn" [routerLink]="['/dashboard']" routerDirection="root" expand="block" fill="clear" shape="round">
      設計新產品
    </ion-button>
  </div>


  <div *ngIf="my_orders && my_orders.length > 0">
    <ion-item button class="ion-margin" *ngFor="let item of my_orders" >
      <ion-row class="full-width">
        <ion-col size="6">
          <ion-label style="font-weight: bold; font-size: 18px; color: var(--ion-color-app-shade);"
            class="ion-text-wrap">訂單{{item?.id}}</ion-label>
        </ion-col>
        <ion-col size="6" class="ion-text-right">
          <ion-label *ngIf="item.is_redeemption" style="font-weight: bold; font-size: 18px; color: var(--ion-color-app-shade);"
            class="ion-text-wrap">積分訂單</ion-label>
        </ion-col>
        <!-- <ion-col size="8" class="ion-text-right">
          <ion-label class="ion-text-wrap">{{item?.create_datetime | date:'yyyy-MM-dd'}}</ion-label>
        </ion-col> -->
        <ion-col size="8" class="ion-align-self-center">
          <ion-label class="ion-text-wrap">
            貨品類型：
            <span *ngIf="item?.design_product?.product_type == 'tshirt'">T-shirt </span>
            <span *ngIf="item?.design_product?.product_type == 'phone_case'">Phone case</span>
            <br>
            貨品數量：{{item?.quantity}}
            <br>
            狀態：{{item?.status}}
            <br>
            總額：${{item?.total_amount}}
            <br>
            佣金：${{item?.commission}}
            <br>
            日期：{{item?.create_datetime | date:'yyyy-MM-dd'}}
          </ion-label>

        </ion-col>
      </ion-row>
    </ion-item>
  </div>
</ion-content>
