.design-img-container {
  width: fit-content;
  // border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  cursor: move;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: transparent;
  position: relative;
  // z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  // padding: 0.4rem;
}

.design-img-container-selected {
    border: solid 1px #ccc;
}

.layer-list {
  position: absolute;
  z-index: 99;
  width: 70px;
  height: 100%;
  max-width: 70px;
  display: block;
  overflow: hidden;
  min-height: 70px;
  background: #888889;
  opacity: 0.7;
}

.layer-img-container {
  max-width: 70px;
  max-height: 70px;
  min-width: 70px;
  min-height: 70px;
  // padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: transparent;
  font-size: 14px;
  justify-content: center;
}
.expample-box2-selected {
  border: 3px solid var(--ion-color-app-shade);
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

// .example-box:last-child {
//   border: none;
// }

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-custom-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

ion-footer {
  ion-toolbar {
    --background: var(--ion-color-light-tint);
  }
  ion-button {
    --background-activated: transparent;
    --background: transparent;
    --background-focused: transparent;
    --background-hover: transparent;
    --color: #ffffff;
    --color-activated: #ffffff;
    --color-focused: #ffffff;
    --box-shadow: 0;
  }
  p {
    width: 100%;
  }
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

.background-img{
    position: absolute; top: 50%; bottom: 50%; transform: translateY(-50%); left: 0; right: 0;
}

