<input style="display: none;" type="file" #upload_img accept="image/x-png,image/jpeg" (change)="uploadImg()">
<ion-header *ngIf="!screen_capture_mode && !preview_mode">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/design"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="start" *ngIf="layer_menu_hidden">
      <ion-button (click)="showLayerMenu()">
        <ion-icon name="layers"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!-- <ion-buttons slot="end">
      <ion-button style="--color: var(--ion-color-app);" (click)="selectRef.open()">
        選擇產品類型
      </ion-button>
    </ion-buttons> -->

    <ion-select style="display: none;" (ionChange)="selectProductType($event)" multiple="false" #mySelect  okText="確認" cancelText="取消">
      <ion-select-option value="tshirt">T-shirt</ion-select-option>
      <ion-select-option value="phone_case">Phone case</ion-select-option>
    </ion-select>

  </ion-toolbar>
</ion-header>

<ion-content *ngIf="partner_design_order_data && partner_design_order_data.design_data" [style.--background]="partner_design_order_data.design_data.dashboard_color" style="--overflow: hidden;" (pinchstart)="pinchstart($event)"
  (pinchend)="pinchend($event)" (pinchout)="pinchout($event)" (pinchin)="pinchin($event)">
  <!-- <input [(colorPicker)]="color" [style.background]="color"/> -->

  <!-- <div *ngIf="!screen_capture_mode && preview_mode"
    style="position: absolute; bottom: 1rem; left: 1rem; background: rgba(0,0,0,.26); border-radius: 50%; padding: 0.6rem;">
    <ion-icon style="font-size: 1.2rem; color: white; vertical-align: middle;" (click)="preview()" name="close"></ion-icon>
  </div> -->

  <ion-fab *ngIf="preview_mode" (click)="preview_mode = false" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="close"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- <div style="height: 100%; width: 100%;"  
    [ngStyle]="{'background': getBackground(), 'background-size': getBackgroundSize(), 'background-position': getBackgroundPosition()}"> -->
  <!-- <div style="height: 100%; width: 100%;"  
    [ngStyle]="{'background': getBackground()}"> -->
  <img *ngIf="preview_mode && partner_design_order_data.design_data.final_product_image != ''" [src]="partner_design_order_data.design_data.final_product_image" alt="">
  <div #layer_menu *ngIf="!screen_capture_mode && !preview_mode" cdkDropList class="layer-list"
    (cdkDropListDropped)="drop($event)" (cdkDropListSorted)="reorder($event)" 
    style="overflow-y: visible;overflow-x: hidden;word-wrap: break-word;">
    <div class="layer-img-container" style="background: transparent;display: block; text-align: center;"
      (click)="hideLayerMenu()">
      <!-- <ion-icon src="assets/icon/layer-icon.svg" style="font-size: 30px; margin: auto; margin-top: 10px; "></ion-icon> -->
      <ion-icon style="font-size: 30px; margin: auto; margin-top: 10px; " name="layers"></ion-icon>
      <p style="margin: 0; color: white;">分層</p>
    </div>
    <div class="layer-img-container" [cpPosition]="'bottom'" [cpPositionOffset]="'50%'"
      [cpPositionRelativeToArrow]="true" [(colorPicker)]="partner_design_order_data.design_data.dashboard_color" style="display: block; text-align: center;">
      <ion-icon src="assets/icon/tshirt.svg" style="font-size: 30px; margin: auto; margin-top: 10px;">
      </ion-icon>
      <p style="margin: 0; color: white;">背景顏色</p>
    </div>
    <div class="layer-img-container" [cpPosition]="'bottom'" [cpPositionOffset]="'50%'"
      [cpPositionRelativeToArrow]="true" [(colorPicker)]="partner_design_order_data.design_data.background_image" style="display: block; text-align: center;">
      <ion-icon src="assets/icon/tshirt.svg" style="font-size: 30px; margin: auto; margin-top: 10px;">
      </ion-icon>
      <p style="margin: 0; color: white;">產品顏色</p>
    </div>
    <div class="layer-img-container" (click)="triggerImgUpload()" style=" display: block; text-align: center;">
      <ion-icon src="assets/icon/add-layer-icon.svg" style="font-size: 30px; margin: auto; margin-top: 10px;">
      </ion-icon>
      <p style="margin: 0; color: white;">上載相片</p>
    </div>
    <div class="layer-img-container" (click)="addNewTextItem()" style=" display: block; text-align: center;">
      <ion-icon name="text" style="color: white; font-size: 30px; margin: auto; margin-top: 10px;">
      </ion-icon>
      <p style="margin: 0; color: white;">新增文字</p>
    </div>
    <ng-container *ngFor="let item of partner_design_order_data.design_data.items; let i = index">
      <div [ngClass]="{ 'expample-box2-selected' : (selected_image_id == item?.id), 'layer-img-container' : true  }"
        class="layer-img-container" cdkDrag (click)="selectImage(item, i)">
        <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
        <img *ngIf="item.is_image" style="max-width: 70px; max-height: 70px;" [src]="item.image">
        <ion-icon style="font-size: 30px;" *ngIf="!item.is_image" name="text"></ion-icon>
      </div>
    </ng-container>
  </div>
  <div [style.visibility]="preview_mode ? 'hidden' : 'visible'" id="canvas" (click)="selected_image_id = null; selected_image_index = null;" style="height: 100%; width: 100%; display: inline-flex; align-items: center;">
    <svg *ngIf="partner_design_order_data.product_type == 'tshirt'" class="background-img" version="1.1" id="Icons" xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32 32"
      style="enable-background:new 0 0 32 32;" xml:space="preserve">
      <path d="M29.7,10.3l-3.7-3.7c-1.7-1.7-4-2.6-6.4-2.6h-0.2c-0.4,0-0.7,0.2-0.9,0.5C18,5.4,17.1,6,16,6s-2-0.6-2.6-1.5
	C13.2,4.2,12.9,4,12.6,4h-0.2C9.9,4,7.6,4.9,5.9,6.6l-3.7,3.7c-0.4,0.4-0.4,0.9-0.1,1.3l4,5C6.4,16.8,6.7,17,6.9,17
	c0.3,0,0.6-0.1,0.8-0.3L9,15.4V27c0,0.6,0.4,1,1,1h12c0.6,0,1-0.4,1-1V15.4l1.3,1.3c0.2,0.2,0.5,0.3,0.8,0.3c0.3,0,0.5-0.2,0.7-0.4
	l4-5C30.1,11.2,30.1,10.7,29.7,10.3z" [attr.fill]="partner_design_order_data.design_data.background_image" />
    </svg>

    <svg *ngIf="partner_design_order_data.product_type == 'phone_case'" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 275.072 275.072" style="enable-background:new 0 0 275.072 275.072;" xml:space="preserve">
<g>
	<path fill="#000000" d="M203.69,0H71.38c-9.884,0-17.926,8.05-17.926,17.945v239.192c0,9.889,8.041,17.935,17.926,17.935H203.69
		c9.886,0,17.928-8.045,17.928-17.935V17.945C221.618,8.05,213.576,0,203.69,0z M206.618,257.138c0,1.618-1.313,2.935-2.928,2.935
		H71.38c-1.586,0-2.926-1.344-2.926-2.935V17.945c0-1.624,1.312-2.945,2.926-2.945H203.69c1.614,0,2.928,1.321,2.928,2.945V257.138z
		"/>
	<path d="M127.843,24h-29.73c-11.391,0-20.658,9.268-20.658,20.659c0,11.391,9.267,20.658,20.658,20.658h29.73
		c11.391,0,20.658-9.267,20.658-20.658C148.501,33.268,139.233,24,127.843,24z M127.843,50.317h-29.73
		c-3.12,0-5.658-2.538-5.658-5.658c0-3.121,2.538-5.659,5.658-5.659h29.73c3.12,0,5.658,2.539,5.658,5.659
		C133.501,47.779,130.963,50.317,127.843,50.317z"/>
</g>
</svg>

    <div>
      <ng-container *ngFor="let item of partner_design_order_data.design_data.items;let i = index">
        <div [style.z-index]="item.z_index" [style.background-color]="item.background_color"
          [ngClass]="{ 'design-img-container-selected' : (selected_image_id == item?.id), 'design-img-container' : true  }"
          cdkDrag [cdkDragFreeDragPosition]="item.position" (click)="selectImage(item, i);$event.stopPropagation()"
          (cdkDragMoved)="move($event)" (cdkDragEnded)="end($event, i)" (cdkDragReleased)="released($event)">
          <ng-container *ngIf="selected_image_id == item?.id">
            <img src="assets/icon/remove-design-icon.svg"
              style="position: absolute; left: -1rem; top: -1rem; z-index: 99;"
              (click)="removeImage(i);$event.stopPropagation()">
            <!-- <img *ngIf="item.is_image" src="assets/icon/add-circle.svg" -->
            <img  src="assets/icon/add-circle.svg"
              style="width: 26px; height: 26px; position: absolute; right: -1rem; top: -1rem; z-index: 99;"
              (click)="enlarge(i);$event.stopPropagation()">
            <!-- <img *ngIf="item.is_image == false" src="assets/icon/color-palette.svg"
              style="width: 26px; height: 26px; position: absolute; right: -1rem; top: -1rem; z-index: 99;"
              [cpPosition]="'bottom'" [cpPositionOffset]="'50%'" [cpPositionRelativeToArrow]="true" [(colorPicker)]="item.text_color"
              (click)="$event.stopPropagation()"> -->
            <!-- <img *ngIf="item.is_image" src="assets/icon/remove-circle.svg" -->
            <img  src="assets/icon/remove-circle.svg"
              style="width: 26px; height: 26px; position: absolute; left: -1rem; bottom: -1rem; z-index: 99;"
              (click)="reduce(i);$event.stopPropagation()">
            <img src="assets/icon/rotate-icon.svg" style="position: absolute; right: -1rem; bottom: -1rem; z-index: 99;"
              (click)="rotate(i);$event.stopPropagation()">
            <img src="assets/icon/flip-h-icon.svg" style="position: absolute; left: -1rem; z-index: 99;"
              (click)="horizontalFlip(i);$event.stopPropagation()">
            <img src="assets/icon/flip-v-icon.svg" style="position: absolute; bottom: -1rem; z-index: 99;"
              (click)="verticalFlip(i);$event.stopPropagation()">
            <img *ngIf="item.is_image == false" src="assets/icon/color-fill.svg"
            style="width: 26px; height: 26px; position: absolute; top: -1rem; z-index: 99;"
            [cpPosition]="'bottom'" [cpPositionOffset]="'50%'" [cpPositionRelativeToArrow]="true" [(colorPicker)]="item.text_color"
              (click)="$event.stopPropagation()">
          </ng-container>
          <ion-img *ngIf="item.is_image"
            [style.transform]="'rotate('+item.angle+'deg) scaleX('+item.flip_x+ ')scaleY('+item.flip_y+')'"
            [style.width]="item.width ? item.width+'px' : ''" [style.height]="item.height ? item.height+'px' : ''"
            [src]="item.image"></ion-img>
          <!-- <textarea [style.color]="item.text_color" style="width: fit-content !important;" [style.width]="item.width ? item.width+'px' : ''" autoGrow="true" type="text" *ngIf="!item.is_image" -->
          <ion-textarea [style.color]="item.text_color"  [style.width]="item.width ? item.width+'px' : ''" autoGrow="true" type="text" *ngIf="!item.is_image"
            [style.transform]="'rotate('+item.angle+'deg) scaleX('+item.flip_x+ ')scaleY('+item.flip_y+')'"
            [style.height]="item.height ? item.height+'px' : ''"
            [ngStyle]="item.font != null ? item?.font?.getStyles() : ''" (fontPickerChange)="fontPickerChange($event)"
            [(fontPicker)]="item.font" [fpWidth]="windowWidth/2+'px'" [fpPosition]="'bottom'" fpSearchText="搜尋字體"
            fpLoadingText="加載字體中..." fpPopularLabel="選擇字體" fpResultsLabel="搜尋結果" [(ngModel)]="item.text"> </ion-textarea>
        </div>
      </ng-container>
    </div>


    <!-- <ion-button (click)="saveImage()" style="position: absolute; bottom: 0; right: 0; z-index: 100;">
      save
    </ion-button> -->
  </div>

</ion-content>

<ion-footer *ngIf="!screen_capture_mode && !preview_mode">
  <ion-toolbar>
    <ion-row nowrap style="overflow-x: scroll; overflow-y: hidden; word-wrap: break-word;">
      <ion-col class="ion-text-center" size="4">
        <ion-button (click)="preview()" expand="block" fill="clear" shape="round">
          預覽成品
        </ion-button>
      </ion-col>
      <ion-col class="ion-text-center" size="4">
        <!-- <ion-button (click)="preview()" expand="block" fill="clear" shape="round">
          預覽成品
        </ion-button> -->
      </ion-col>
      <ion-col class="ion-text-center" size="4">
        <ion-button (click)="goQuotationPage()" expand="block" fill="clear" shape="round">
        開立發票
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>

<!-- <ion-footer *ngIf="!screen_capture_mode && !preview_mode">
  <ion-toolbar>
    <ion-row nowrap style="overflow-x: scroll; overflow-y: hidden; word-wrap: break-word;">
      <ion-col class="ion-text-center">
        <ion-button (click)="undo()" style="--padding-start: 0; --padding-end: 0;">
          <ion-icon src="assets/icon/undo-icon.svg"></ion-icon>
          <p>undo</p>
        </ion-button>
      </ion-col>
      <ion-col class="ion-text-center">
        <ion-button (click)="redo()" style="--padding-start: 0; --padding-end: 0;">
          <ion-icon src="assets/icon/redo-icon.svg"></ion-icon>
          <p>redo</p>
        </ion-button>
      </ion-col>
      <ion-col class="ion-text-center">
        <ion-button (click)="presentActionSheet()" style="--padding-start: 0; --padding-end: 0;">
          <ion-icon src="assets/icon/background-icon.svg"></ion-icon>
          <p>background</p>
        </ion-button>
      </ion-col>
      <ion-col *ngIf="partner_design_order_data.design_data.background != undefined && partner_design_order_data.design_data.background != null && partner_design_order_data.design_data.background != ''" class="ion-text-center">
        <ion-button (click)="editBackgroundSize()" style="--padding-start: 0; --padding-end: 0;">
          <ion-icon style="font-size: 2rem;" name="crop" mode="ios"></ion-icon>
          <p>background_size</p>
        </ion-button>
      </ion-col>
      <ion-col class="ion-text-center">
        <ion-button (click)="changeTemplateColorDisplay()" style="--padding-start: 0; --padding-end: 0;">
          <ion-icon src="assets/icon/color-icon.svg"></ion-icon>
          <p>color</p>
        </ion-button>
      </ion-col>
      <ion-col class="ion-text-center">
        <ion-button (click)="preview()" style="--padding-start: 0; --padding-end: 0;">
          <ion-icon style="font-size: 2rem;" mode="md" name="image"></ion-icon>
          <p>preview</p>
        </ion-button>
      </ion-col>
      <ion-col class="ion-text-center">
        <ion-button (click)="resetDashboardAlert()" style="--padding-start: 0; --padding-end: 0;">
          <ion-icon name="trash" mode="md"></ion-icon>
          <p>reset</p>
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-toolbar>
</ion-footer> -->