ion-item {
  --inner-border-width: 0;
  --background: var(--ion-color-light);
  --border-radius: 15px;
  --padding-start: 8px;
  --padding-top: 4px;
  --padding-bottom: 4px;
}

.action-btn{
    --border-width: 1px;
    --border-style: solid;
}

.ranking-modal {
  --width: 250px;
  --height: 240px;
  --border-radius: 18px;
  h1 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
  }
  ion-icon {
    margin: 0 4px;
    font-size: 32px;
  }
  ion-button {
    --background: var(--ion-color-success);
    --color: #ffffff;
  }
}
