<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-segment mode="md" [value]="segment_value" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="appointment">
        <ion-label>預約寵物美容</ion-label>
      </ion-segment-button>
      <ion-segment-button value="appointment_record">
        <ion-label>預約紀錄</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="segment_value == 'appointment'" class="ion-padding">
    <div class="ion-margin-bottom">
      <h1 style="margin: 0%;" class="ion-text-center">{{viewTitle}}</h1>
    </div>
    <calendar class="app-calendar" [eventSource]="eventSource" [calendarMode]="calendar.mode"
      [currentDate]="calendar.currentDate" (onCurrentDateChanged)="onCurrentDateChanged($event)" (onEventSelected)="onEventSelected($event)"
      (onTitleChanged)="onViewTitleChanged($event)" (onTimeSelected)="onTimeSelected($event)" [step]="calendar.step"
      [monthviewEventDetailTemplate]="template">
    </calendar>

    <ng-template #template let-showEventDetail="showEventDetail" let-selectedDate="selectedDate"
      let-noEventsLabel="noEventsLabel">
      <!-- {{selectedDate | json}} -->
      <ion-list *ngIf="selectedDate?.events.length > 0">
        <ion-item class="ion-margin" *ngFor="let item of selectedDate?.events">
          <ion-row class="full-width">
            <ion-col size="4">
              <ion-label style="font-weight: bold; font-size: 18px; color: var(--ion-color-app-shade);"
                class="ion-text-wrap">{{item?.reservation_timeslot_data?.service_name}}</ion-label>
            </ion-col>
            <ion-col size="8" class="ion-text-right">
              <ion-label class="ion-text-wrap">{{item?.reservation_timeslot_data?.date | date:'yyyy-MM-dd'}}
                {{item?.reservation_timeslot_data?.start_time}}-{{item?.reservation_timeslot_data?.end_time}}
              </ion-label>
            </ion-col>
            <ion-col size="8" class="ion-align-self-center">
              <ion-label class="ion-text-wrap">
                價格：<span
                  [style.text-decoration]="user_data?.is_vip && item?.reservation_timeslot_data?.price != '0' ? 'line-through' : ''">${{item?.reservation_timeslot_data?.price}}</span>
                <br>
                <ng-container *ngIf="user_data?.is_vip && item?.reservation_timeslot_data?.price != '0'">
                  VIP價格：<span
                  style="color: var(--ion-color-app);" >${{item?.reservation_timeslot_data?.vip_price}}</span>
                <br>
                </ng-container>
                餘下名額：{{item?.reservation_timeslot_data?.available_quota}}
              </ion-label>

            </ion-col>
            <ion-col size="4" class="ion-align-self-end">
              <ion-button class="action-btn" style="--color: var(--ion-color-app);"
                (click)="presentAppointmentAlert(item.reservation_timeslot_data)" expand="block" fill="clear"
                shape="round">
                預約
              </ion-button>
            </ion-col>
          </ion-row>
          <!-- <ion-label class="ion-text-wrap"></ion-label> -->
        </ion-item>
      </ion-list>
    </ng-template>
  </div>

  <ion-row style="height: 100%;" *ngIf="segment_value == 'appointment_record' &&  (!my_appointments || my_appointments.length == 0)">
    <ion-col size="12" class="ion-text-center ion-align-self-center">
      <img style="width: 200px;" src="../assets/icon/order_created.png" alt="">
      <h2 *ngIf="auth?.userData.vaule != null" class="ion-text-center" style="font-size: 16px; font-weight: bolder;">未有預約紀錄，
        <span (click)="segment_value = 'appointment'" style="color: var(--ion-color-app);">立即預約</span>
      </h2>
      <h2 *ngIf="auth?.userData.vaule == null" class="ion-text-center" style="font-size: 16px; font-weight: bolder;">請先
        <span routerLink="/login"
        routerDirection="root"  style="color: var(--ion-color-app);">登入</span>
      </h2>
    </ion-col>
  </ion-row>
  <div *ngIf="segment_value == 'appointment_record' && my_appointments && my_appointments.length > 0">
      <ion-item button detail="false" class="ion-margin" *ngFor="let item of my_appointments">
        <ion-row class="full-width">
          <ion-col size="4">
            <ion-label style="font-weight: bold; font-size: 18px; color: var(--ion-color-app-shade);"
              class="ion-text-wrap">{{item?.reservation_timeslot_data?.service_name}}</ion-label>
          </ion-col>
          <ion-col size="8" class="ion-text-right">
            <ion-label class="ion-text-wrap">{{item?.reservation_timeslot_data?.date | date:'yyyy-MM-dd'}}
              {{item?.reservation_timeslot_data?.start_time}}-{{item?.reservation_timeslot_data?.end_time}}</ion-label>
          </ion-col>
          <ion-col size="8" class="ion-align-self-center">
            <ion-label class="ion-text-wrap">
              價格：${{item?.reservation_timeslot_data?.price}}
              <br>
              狀態：{{item?.status}}
              <br>
              備注：{{item?.remark}}
              <br>
              <!-- 評分：{{item?.ranking}} -->
              評分：
              <ng-container *ngIf="item.ranking != null">
                <ion-icon *ngFor="let item of [].constructor(item.ranking)" slot="icon-only" name="star"></ion-icon>
              </ng-container>
  
            </ion-label>
  
          </ion-col>
          <ion-col size="4" class="ion-align-self-end">
            <ion-button class="action-btn"
              *ngIf="item.status != AppointmentStatus.completed && item.status != AppointmentStatus.cancelled"
              color="danger" (click)="presentCancelAlert(item)" expand="block" fill="clear" shape="round">
              取消預約
            </ion-button>
            <ion-button class="action-btn" *ngIf="item.status == AppointmentStatus.completed && item.ranking == null"
              color="success" id="trigger-button" expand="block" fill="clear" shape="round">
              為服務評分
            </ion-button>
            <ion-modal trigger="trigger-button" class="ranking-modal">
              <ng-template>
                <ion-content>
                  <div class="ion-padding">
                    <h1 class="ion-text-center">請為這次服務評分</h1>
                  </div>
                  <div class="ion-padding ion-text-center">
                    <ion-icon (click)="seleted_ranking = i+1" *ngFor="let d of [].constructor(5); let i = index;"
                      [name]="seleted_ranking == null || seleted_ranking < i+1 ? 'star-outline' : 'star'"></ion-icon>
                  </div>
                  <div class="ion-padding">
                    <ion-button (click)="rank(item)" expand="block" fill="clear">
                      確認
                    </ion-button>
                  </div>
                </ion-content>
              </ng-template>
            </ion-modal>
  
          </ion-col>
        </ion-row>
        <!-- <ion-label class="ion-text-wrap"></ion-label> -->
      </ion-item>
  </div>

</ion-content>