.product-item {
    --inner-border-width: 0;
    --padding-top: 12px;
    --padding-bottom: 12px;
    ion-thumbnail {
      --border-radius: 10px;
      min-width: 56px;
      margin-right: 10px;
    }
    ion-row {
      height: 100%;
      h3 {
        font-weight: bolder;
        margin: 0%;
      }
      .attribute {
        margin: 0%;
        font-size: 8px;
        color: var(--ion-color-medium);
      }
      .price {
      }
      .update-product-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
  