<div *ngIf="order_data != null && order_data.cart.length > 0">
  <ion-list>
    <ion-item class="product-item" *ngFor="let item of order_data.cart">
      <ion-thumbnail>
        <img [src]="item.product_data.product_img_url_list[0]" />
      </ion-thumbnail>

      <ion-row class="full-width">
        <ion-col size="9">
          <h3>{{item?.product_data?.name}}</h3>
          <p class="attribute">{{item?.product_data?.attributes_display}}</p>
          <h3 *ngIf="!order_data?.is_redeemption">
            <span
              [style.text-decoration]="user_data?.is_vip ? 'line-through' : ''">${{item?.product_data?.price*item?.quantity}}</span>
            &nbsp;
            <span style="color: var(--ion-color-app);"
              *ngIf="user_data?.is_vip">${{item?.product_data?.vip_price*item?.quantity}}</span>
          </h3>
          <h3 *ngIf="order_data?.is_redeemption">
            {{item?.product_data?.credit}}
          </h3>
        </ion-col>
        <ion-col size="3" class="ion-text-right"
          style="display: flex; flex-direction: column; justify-content: space-between;">
          <div [style.visibility]="allow_edit ? 'visible' : 'hidden'">
            <ion-icon (click)="changeQuantity(item.product_data, -item.quantity)" name="close"></ion-icon>
          </div>
          <div class="update-product-container" *ngIf="allow_edit">
            <ion-icon [style.visibility]="allow_edit ? 'visible' : 'hidden'"
              (click)="changeQuantity(item.product_data, -1)" name="remove-circle-outline"></ion-icon>
            <ion-label>{{item?.quantity}}</ion-label>
            <ion-icon [style.visibility]="allow_edit ? 'visible' : 'hidden'"
              (click)="changeQuantity(item.product_data, 1)" name="add-circle-sharp"></ion-icon>
          </div>
          <div *ngIf="!allow_edit">
            {{item?.quantity}} 件
          </div>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>

  <br>

  <ion-row class="ion-margin" *ngIf="order_data?.status != OrderStatus.pending">
    <ion-col size="6" class="title">
      付款方式:
    </ion-col>
    <ion-col size="6" class="ion-text-right content">
      <ng-container *ngIf="order_data?.payment_data.payment_method == 'bank_transfer'">銀行轉帳</ng-container>
      <ng-container *ngIf="order_data?.payment_data.payment_method == 'credit_card'">信用卡</ng-container>
    </ion-col>
    <ng-container *ngIf="order_data?.payment_data.payment_method == 'bank_transfer'">
      <ion-col size="12">
        <img [src]="order_data?.payment_data.bank_transfer_img" alt="">
      </ion-col>
    </ng-container>
    <ng-container *ngIf="order_data?.payment_data.payment_method == 'credit_card'">
      <ion-col size="6" class="title">
        信用卡號碼:
      </ion-col>
      <ion-col size="6" class="ion-text-right content">
        {{order_data?.payment_data.card_number}}
      </ion-col>
      <ion-col size="6" class="title">
        持卡人名稱:
      </ion-col>
      <ion-col size="6" class="ion-text-right content">
        {{order_data?.payment_data.card_holder}}
      </ion-col>
    </ng-container>
  </ion-row>

  <ion-row class="ion-margin" *ngIf="order_data?.status != OrderStatus.pending">
    <ion-col size="6" class="title">
      送貨方式:
    </ion-col>
    <ion-col size="6" class="ion-text-right content">
      {{order_data?.delivery_data.delivery_method == 'store_pickup' ? '店鋪自取' : '送貨上門'}}
    </ion-col>
    <ion-col size="6" class="title">
      送貨地址:
    </ion-col>
    <ion-col size="6" class="ion-text-right content">
      {{order_data?.delivery_data.delivery_address}}
    </ion-col>
  </ion-row>

  <ion-row class="ion-margin">
    <ion-col size="4" class="title">
      小計
    </ion-col>
    <ion-col size="8" class="ion-text-right content">
      ${{order_data?.subtotal}}
    </ion-col>
    <div class="divider"></div>
    <ion-col size="4" class="title">
      運費
    </ion-col>
    <ion-col size="8" class="ion-text-right content">
      ${{order_data?.shipping_fee}}
    </ion-col>
    <div class="divider"></div>
    <ion-col size="4" class="title">
      折扣
    </ion-col>
    <ion-col size="8" class="ion-text-right content">
      ${{order_data?.discount}}
    </ion-col>
    <div class="divider"></div>
    <ion-col size="4" class="title" style="font-size: 18px;">
      總額
    </ion-col>
    <ion-col size="8" class="ion-text-right content" style="font-size: 28px; font-weight: bolder;">
      ${{order_data?.total_amount}}
    </ion-col>
  </ion-row>

  <ion-row class="ion-margin" *ngIf="order_data.is_redeemption">
    <ion-col size="4" class="title" style="color: var(--ion-color-app); font-size: 18px;">
      總積分
    </ion-col>
    <ion-col size="8" class="ion-text-right content" style="font-size: 28px; font-weight: bolder; color: var(--ion-color-app);">
      {{order_data?.total_credit}}
    </ion-col>
  </ion-row>
</div>