/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.invisible {
  visibility: hidden !important;
}

.hidden-xs-up {
  display: none !important;
}
@media (max-width: 575px) {
  .hidden-xs-down {
    display: none !important;
  }
}
@media (min-width: 576px) {
  .hidden-sm-up {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .hidden-sm-down {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .hidden-md-up {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .hidden-md-down {
    display: none !important;
  }
}
@media (min-width: 992px) {
  .hidden-lg-up {
    display: none !important;
  }
}
@media (max-width: 1199px) {
  .hidden-lg-down {
    display: none !important;
  }
}

ion-menu {
  // --side-max-width: 30%;
  --side-max-width: 300px;
  --side-min-width: 300px;
  --width: 300px;
  ion-content {
    --padding-start: 0px !important;
    --padding-end: 0px !important;
  }
}

.view-modal {
  // --width: 100%;
  // --height: 100%;
  --background: rgb(0 0 0 / 35%);
  ion-buttons {
    ion-button {
      ion-icon {
        font-size: 30px !important;
      }
    }
  }
  ion-content,
  ion-footer,
  ion-header,
  ion-toolbar {
    --background: #5c5c5c;
  }
}

.full-width {
  width: 100%;
}

.error-snackbar {
  background: #f44336;
  color: white;
}

.default-mat-btn {
  // background: var(--ion-color-primary);
  color: var(--ion-text-color);
  padding: 0.8rem 1.6rem;
  border-radius: 5px;
}

.clickable {
  cursor: pointer;
}

.ion-selectable-item {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  padding: 0 0.75em 0 0.75em;
  --background: transparent;
  --color: var(--ion-color-text);
  --inner-padding-start: 0;
  --inner-padding-end: 0;
  --padding-start: 0;
  --padding-end: 0;
  font-size: 14px;
  --inner-border-width: 0;
  ionic-selectable {
    max-width: 100%;
    // width: 100%;
  }
}

.ion-item-input {
  --inner-border-width: 0;
  --background: #ffffff17;
  --border-radius: 5px;
}

.app-default-btn {
  --background: var(--ion-color-app);
  --border-radius: 5px;
  --color: #ffffff;
  --box-shadow: 0px 0px 15px var(--ion-color-app);
}

.logo-div {
  h1 {
    margin: 0%;
    font-weight: bolder;
    letter-spacing: 3px;
  }
}


.alert-radio-inner{
  border-color: var(--ion-color-app) !important; 
}
.alert-button{
  color: var(--ion-color-app) !important; 
}
.alert-radio-button[aria-checked=true]{
  .alert-radio-label{
    color:  var(--ion-color-app) !important; 
  }
}

.app-toast{
  --background: var(--ion-color-app-shade);
    --color: var(--ion-color-dark-tint);
}

ion-icon{
  color: var(--ion-color-app);
}

ion-segment-button{
  --color-checked: var(--ion-color-app);
}

.app-calendar{
  .monthview-current{
    background-color: var(--ion-color-medium) !important;
  }
  .monthview-selected{
    // background-color: var(--ion-color-app-shade) !important;
    // border: 2px dashed var(--ion-color-light) !important;
    border: 2px dashed #ffffff !important;
    background-color: transparent !important;
  }
  .monthview-primary-with-event{
    background-color: var(--ion-color-app-shade) !important;
  }
}

ion-back-button{
  --color: var(--ion-color-app);
}

ion-slides{
  --bullet-background-active: var(--ion-color-app-shade) !important;
}

ion-checkbox{
  --background: transparent; --background-checked: var(--ion-color-success); --border-color-checked: var(--ion-color-success);
}

ion-fab-button{
  --background: var(--ion-color-light);
  --background-activated: var(--ion-color-light);
  --background-focused: var(--ion-color-light);
  --background-hover: var(--ion-color-light);

}

font-picker{

  .font-options{
    input{
      color: var(--ion-color-light) !important;
    }
    .style-select{
      color: var(--ion-color-light) !important;
    }
  }
}


textarea{
  overflow: hidden;
}

ion-toggle{
  --background-checked: var(--ion-color-dark-shade);
  --handle-background-checked: var(--ion-color-app);
}

.item-interactive-disabled{
  ion-label{
    opacity: 1 !important;
  }
  .toggle-disabled{
    opacity: 1 !important;  
  }

}