<!-- Fallback for iOS PWA -->
<!-- <input #fileinput type="file" accept="image/*;capture=camera" hidden (change)="handleFile($event.target.files)"> -->

<!-- Trigger the file input -->
<!-- <ion-button expand="full" (click)="captureImage()">
    <ion-icon slot="start" name="camera"></ion-icon>
    Capture Image
  </ion-button> -->

  <ion-row class="ion-padding">
    <ion-col size="4">
      <ion-button class="full-width" (click)="startScan()">
        <ion-icon slot="start" name="camera-outline"></ion-icon>
        Start scan
      </ion-button>

    </ion-col>

    <ion-col size="4">
      <!-- Stop our scanner preview if active -->
      <ion-button  class="full-width" (click)="stopScan()" color="danger" [disabled]="!scanActive">
        <ion-icon slot="start" name="close"></ion-icon>
        Stop scan
      </ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button class="full-width" (click)="reset()" color="warning" [disabled]="!scanResult" >
        <ion-icon slot="start" name="refresh"></ion-icon>
        Reset
      </ion-button>
    </ion-col>
    <ion-col size="12">

      <!-- Shows our camera stream -->
      <video #video [hidden]="!scanActive" width="100%"></video>

      <!-- Used to render the camera stream images -->
      <canvas #canvas hidden></canvas>

    </ion-col>
  </ion-row>


  <ion-row *ngIf="scanResult && customer_data">
    <ion-col size="4">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>status</mat-label>
        <mat-select disabled [(ngModel)]="customer_data.status">
          <mat-option *ngFor="let item of general_status" [value]="item">{{item}}</mat-option>
        </mat-select>
      </mat-form-field>
    </ion-col>
    <ion-col size="4">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>username</mat-label>
        <input matInput readonly placeholder="username" [(ngModel)]="customer_data.username">
      </mat-form-field>
    </ion-col>
    <ion-col size="4">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>email</mat-label>
        <input matInput readonly placeholder="email" [(ngModel)]="customer_data.email">
      </mat-form-field>
    </ion-col>
    <ion-col size="4">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Phone</mat-label>
        <input matInput type="tel" min="0"
          oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
          readonly placeholder="quota" [(ngModel)]="customer_data.phone">
      </mat-form-field>
    </ion-col>
    <ion-col size="4">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Display Name</mat-label>
        <input matInput readonly placeholder="Display Name" [(ngModel)]="customer_data.display_name">
      </mat-form-field>
    </ion-col>
    <!-- <ion-col size="4">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Month of birth</mat-label>
        <mat-select disabled [(ngModel)]="customer_data.month_of_birth">
          <mat-option value="1">1</mat-option>
          <mat-option value="2">2</mat-option>
          <mat-option value="3">3</mat-option>
          <mat-option value="4">4</mat-option>
          <mat-option value="5">5</mat-option>
          <mat-option value="6">6</mat-option>
          <mat-option value="7">7</mat-option>
          <mat-option value="8">8</mat-option>
          <mat-option value="9">9</mat-option>
          <mat-option value="10">10</mat-option>
          <mat-option value="11">11</mat-option>
          <mat-option value="12">12</mat-option>
        </mat-select>
      </mat-form-field>
    </ion-col> -->
    <ion-col size="4" *ngIf="customer_data.type == 'customer'">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Vip</mat-label>
        <mat-select disabled [(ngModel)]="customer_data.is_vip">
          <mat-option [value]="true">True</mat-option>
          <mat-option [value]="false">False</mat-option>
        </mat-select>
      </mat-form-field>
    </ion-col>
  </ion-row>



<!-- 
<ion-card *ngIf="scanResult">
  <ion-card-header>
    <ion-card-title>QR Code</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    {{ scanResult }}
  </ion-card-content>
</ion-card> -->