<!-- <app-header [title]="" data_type="order_data" [create_btn]="false"></app-header> -->

<ion-content class="ion-padding">

  <app-table [data_type]="'design_order_data'"></app-table>

</ion-content>