<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <mat-progress-bar *ngIf="utilService.isLoading" mode="query"></mat-progress-bar>
  <ion-grid fixed class="ion-padding-start ion-padding-end" style="height: 100%;">
    <ion-row style="height: 100%;">
      <ion-col offset-xs='1' size-xs="10" offset-sm='2' size-sm="8" offset-md='2' size-md="8" offset-lg='3' size-lg="6"
        offset-xl='3.5' size-xl='5' class="ion-align-self-center ion-text-center">
        <ion-row class="ion-padding" style="background: var(--ion-color-light-shade); border-radius: 5px;">

          <ion-col size="12">
            <!-- <ion-img style="width: 120px; margin: auto;" src="assets/icon/logo.svg"></ion-img> -->
          </ion-col>

          <ion-col size="12">
            <h2>HKI TOW<span style="color: var(--ion-color-app);">O</span></h2>
          </ion-col>
          <ion-col size="12" class="ion-margin-top ion-margin-bottom">
            <ion-input [(ngModel)]="username" type="text" placeholder="用戶名稱"></ion-input>
          </ion-col>
          <ion-col size="12" class=" ion-margin-bottom">
            <ion-input (keydown.enter)="login()"  [(ngModel)]="password" type="password"
              placeholder="密碼"></ion-input>
          </ion-col>

          <ion-col size="12" class="ion-text-center ion-text-right">
            <ion-button color="app" expand="block"  (click)="login()">
              登入
            </ion-button>
          </ion-col>

        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>