<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="util?.isDevMode">{{type}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="util?.closeModal()">
        <ion-icon color="dark" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <input style="display: none;" type="file" #upload_img accept="image/x-png,image/jpeg" (change)="uploadImg()">

  <ion-grid fixed *ngIf="data?.data_type == dataType.customer_data">
    <ion-row>
      <ion-col size="4">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>status</mat-label>
          <mat-select [disabled]="type == 'read'" [(ngModel)]="data.status">
            <mat-option *ngFor="let item of general_status" [value]="item">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
      </ion-col>
      <ion-col size="4">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>username</mat-label>
          <input matInput [readonly]="type == 'read'" placeholder="username" [(ngModel)]="data.username">
        </mat-form-field>
      </ion-col>
      <ion-col size="4">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>email</mat-label>
          <input matInput [readonly]="type == 'read'" placeholder="email" [(ngModel)]="data.email">
        </mat-form-field>
      </ion-col>
      <ion-col size="4">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Phone</mat-label>
          <input matInput type="tel" min="0"
            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
            [readonly]="type == 'read'" placeholder="quota" [(ngModel)]="data.phone">
        </mat-form-field>
      </ion-col>
      <ion-col size="4">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Display Name</mat-label>
          <input matInput [readonly]="type == 'read'" placeholder="Display Name" [(ngModel)]="data.display_name">
        </mat-form-field>
      </ion-col>
      <!-- <ion-col size="4">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Month of birth</mat-label>
          <mat-select [disabled]="type == 'read'" [(ngModel)]="data.month_of_birth">
            <mat-option value="1">1</mat-option>
            <mat-option value="2">2</mat-option>
            <mat-option value="3">3</mat-option>
            <mat-option value="4">4</mat-option>
            <mat-option value="5">5</mat-option>
            <mat-option value="6">6</mat-option>
            <mat-option value="7">7</mat-option>
            <mat-option value="8">8</mat-option>
            <mat-option value="9">9</mat-option>
            <mat-option value="10">10</mat-option>
            <mat-option value="11">11</mat-option>
            <mat-option value="12">12</mat-option>
          </mat-select>
        </mat-form-field>
      </ion-col> -->
      <ion-col size="4" *ngIf="data?.data_type == dataType.customer_data">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Vip</mat-label>
          <mat-select [disabled]="type == 'read'" [(ngModel)]="data.is_vip">
            <mat-option [value]="true">True</mat-option>
            <mat-option [value]="false">False</mat-option>
          </mat-select>
        </mat-form-field>
      </ion-col>
      <ion-col size="4">
        <img *ngIf="data.profile_img != undefined && data.profile_img != ''" [src]="data.profile_img" alt="">
        <ion-button *ngIf="type != 'read'" class="full-width" (click)="triggerImgUpload('profile_img')" color="warning"
          fill="outline">
          Upload Profile Image
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid fixed *ngIf="data?.data_type == dataType.partner_data">
    <ion-row>
      <ion-col size="4">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>status</mat-label>
          <mat-select [disabled]="type == 'read'" [(ngModel)]="data.status">
            <mat-option *ngFor="let item of general_status" [value]="item">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
      </ion-col>
      <ion-col size="4">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>username</mat-label>
          <input matInput [readonly]="type == 'read'" placeholder="username" [(ngModel)]="data.username">
        </mat-form-field>
      </ion-col>
      <ion-col size="4">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>email</mat-label>
          <input matInput [readonly]="type == 'read'" placeholder="email" [(ngModel)]="data.email">
        </mat-form-field>
      </ion-col>
      <ion-col size="4">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Phone</mat-label>
          <input matInput type="tel" min="0"
            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
            [readonly]="type == 'read'" placeholder="quota" [(ngModel)]="data.phone">
        </mat-form-field>
      </ion-col>
      <ion-col size="4">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Display Name</mat-label>
          <input matInput [readonly]="type == 'read'" placeholder="Display Name" [(ngModel)]="data.display_name">
        </mat-form-field>
      </ion-col>
      <!-- <ion-col size="4">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Month of birth</mat-label>
          <mat-select [disabled]="type == 'read'" [(ngModel)]="data.month_of_birth">
            <mat-option value="1">1</mat-option>
            <mat-option value="2">2</mat-option>
            <mat-option value="3">3</mat-option>
            <mat-option value="4">4</mat-option>
            <mat-option value="5">5</mat-option>
            <mat-option value="6">6</mat-option>
            <mat-option value="7">7</mat-option>
            <mat-option value="8">8</mat-option>
            <mat-option value="9">9</mat-option>
            <mat-option value="10">10</mat-option>
            <mat-option value="11">11</mat-option>
            <mat-option value="12">12</mat-option>
          </mat-select>
        </mat-form-field>
      </ion-col> -->
      <ion-col size="4">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Staff</mat-label>
          <mat-select [disabled]="type == 'read'" [(ngModel)]="data.is_staff">
            <mat-option [value]="true">True</mat-option>
            <mat-option [value]="false">False</mat-option>
          </mat-select>
        </mat-form-field>
      </ion-col>
      <ion-col size="4" *ngIf="data.is_staff == true">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Commission</mat-label>
          <input matInput type="number" min="0" max="100" [readonly]="type == 'read'" placeholder="Display Name"
            [(ngModel)]="data.commission_percentage">
          <span matSuffix>%</span>
        </mat-form-field>
      </ion-col>
      <ion-col size="4">
        <img *ngIf="data.profile_img != undefined && data.profile_img != ''" [src]="data.profile_img" alt="">
        <ion-button *ngIf="type != 'read'" class="full-width" (click)="triggerImgUpload('profile_img')" color="warning"
          fill="outline">
          Upload Profile Image
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid fixed *ngIf="data?.data_type == dataType.reservation_timeslot_data">
    <ion-row>
      <ion-col size="4">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>status</mat-label>
          <mat-select [disabled]="type == 'read'" [(ngModel)]="data.status">
            <mat-option *ngFor="let item of general_status" [value]="item">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
      </ion-col>
      <ion-col size="4">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker" disabled [(ngModel)]="data.date">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker disabled="false"></mat-datepicker>
        </mat-form-field>
      </ion-col>
      <ion-col size="4">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Choose a start time</mat-label>
          <input matInput [ngxTimepicker]="picker2" [(ngModel)]="data.start_time" [format]="24" readonly>
          <mat-hint>hh:mm</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <ngx-material-timepicker #picker2></ngx-material-timepicker>
        </mat-form-field>
      </ion-col>
      <ion-col size="4">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Choose a end time</mat-label>
          <input matInput [ngxTimepicker]="picker3" [(ngModel)]="data.end_time" [format]="24" readonly>
          <mat-hint>hh:mm</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
          <ngx-material-timepicker #picker3></ngx-material-timepicker>
        </mat-form-field>
      </ion-col>
      <ion-col size="4">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Quota</mat-label>
          <input matInput type="tel" min="0"
            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
            [readonly]="type == 'read'" placeholder="quota" [(ngModel)]="data.quota">
        </mat-form-field>
      </ion-col>
      <ion-col size="4">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Price</mat-label>
          <input matInput type="text" [readonly]="type == 'read'" placeholder="price"
            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
            [(ngModel)]="data.price">
          <mat-hint>0 for Free</mat-hint>
        </mat-form-field>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid fixed *ngIf="data?.data_type == dataType.banner_data">
    <ion-row>
      <ion-col size="4">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>status</mat-label>
          <mat-select [disabled]="type == 'read'" [(ngModel)]="data.status">
            <mat-option *ngFor="let item of general_status" [value]="item">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
      </ion-col>
      <ion-col size="4">
        <img *ngIf="data.img_url != undefined && data.img_url != ''" [src]="data.img_url" alt="">
        <ion-button *ngIf="type != 'read'" class="full-width" (click)="triggerImgUpload('banner_img')" color="warning"
          fill="outline">
          Upload Banner Image
        </ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-grid fixed *ngIf="data?.data_type == dataType.appointment_data">
    <ion-row>
      <ion-col size="4">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>status</mat-label>
          <mat-select [disabled]="type == 'read'" [(ngModel)]="data.status">
            <mat-option *ngFor="let item of appointment_status" [value]="item">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
      </ion-col>
      <ion-col size="4">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Customer</mat-label>
          <mat-select [disabled]="type == 'read'" [(ngModel)]="data.customer_id">
            <mat-option *ngFor="let item of customer_data_list" [value]="item.id">{{item?.display_name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </ion-col>
      <ion-col size="4">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Partner</mat-label>
          <mat-select [disabled]="type == 'read'" [(ngModel)]="data.partner_id">
            <mat-option *ngFor="let item of partner_data_list" [value]="item.id">{{item?.display_name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </ion-col>
      <ion-col size="4">
        <ion-item class="ion-selectable-item">
          <!-- <ion-label *ngIf="data.reservation_timeslot_id != null">{{data?.date | date:'yyyy-MM-dd'}}</ion-label> -->
          <ion-label *ngIf="data?.reservation_timeslot_id == null">Date</ion-label>
          <ionic-selectable (onSearch)="searchIonicSelect($event)" [(ngModel)]="data.reservation_timeslot_id"
            itemValueField="id" shouldStoreItemValue="id" itemTextField="date" [items]="ava_reservation_timeslot_data_list"
            [canClear]="false" [canSearch]="true" [isMultiple]="false" confirmButtonText="確認" clearButtonText="全部反選"
            closeButtonText="取消">
            <ng-template ionicSelectableItemTemplate let-port="item" let-isPortSelected="isItemSelected">
              {{port?.date | date:'yyyy-MM-dd'}} {{port?.start_time}} - {{port?.end_time}}, quota: {{port?.quota}},
              price: ${{port?.price}}
            </ng-template>
            <ng-template ionicSelectableSearchFailTemplate>
              <div class="ion-padding ion-text-center">
                No available reservation timeslot found.
              </div>
            </ng-template>
          </ionic-selectable>
        </ion-item>
      </ion-col>
      <ion-col size="8">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Remark</mat-label>
          <input matInput type="text" [readonly]="type == 'read'" placeholder="remark"
            [(ngModel)]="data.remark">
        </mat-form-field>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-grid fixed *ngIf="data?.data_type == dataType.question_data">
    <ion-row>
      <ion-col size="4">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>status</mat-label>
          <mat-select [disabled]="type == 'read'" [(ngModel)]="data.status">
            <mat-option *ngFor="let item of general_status" [value]="item">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
      </ion-col>
      <ion-col size="4" >
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Multiple question</mat-label>
          <mat-select [disabled]="type == 'read'" [(ngModel)]="data.multiple">
            <mat-option [value]="true">True</mat-option>
            <mat-option [value]="false">False</mat-option>
          </mat-select>
        </mat-form-field>
      </ion-col>
      <ion-col size="4">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>title</mat-label>
          <input matInput type="text" [readonly]="type == 'read'" placeholder="title"
            [(ngModel)]="data.title">
        </mat-form-field>
      </ion-col>
      <ion-col size="12">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>description</mat-label>
          <input matInput type="text" [readonly]="type == 'read'" placeholder="description"
            [(ngModel)]="data.description">
        </mat-form-field>
      </ion-col>
      <ion-col size="12">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>options</mat-label>
          <mat-chip-list #chipList aria-label="option selection">
            <mat-chip
              *ngFor="let option of data.options"
              (removed)="remove(option, data.options)">
              {{option}}
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
            <input
              placeholder="New option..."
              #autocompleteInput
              [matAutocomplete]="auto"
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              (matChipInputTokenEnd)="add($event, data.options)">
          </mat-chip-list>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event, data.options)">
            <mat-option *ngFor="let item of question_options_list" [value]="item">
              {{item}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-grid fixed *ngIf="data?.data_type == dataType.notification_data">
    <ion-row>
      <ion-col size="4">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>status</mat-label>
          <mat-select [disabled]="type == 'read'" [(ngModel)]="data.status">
            <mat-option *ngFor="let item of general_status" [value]="item">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
      </ion-col>
      <ion-col size="4">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>title</mat-label>
          <input matInput type="text" [readonly]="type == 'read'" placeholder="title"
            [(ngModel)]="data.title">
        </mat-form-field>
      </ion-col>
      <ion-col size="12">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>content</mat-label>
          <input matInput type="text" [readonly]="type == 'read'" placeholder="content"
            [(ngModel)]="data.content">
        </mat-form-field>
      </ion-col>
      <ion-col size="12">
        <ion-item class="ion-selectable-item">
          <!-- <ion-label *ngIf="data.reservation_timeslot_id != null">{{data?.date | date:'yyyy-MM-dd'}}</ion-label> -->
          <ion-label *ngIf="data?.customer_id_list.length == 0">Customer</ion-label>
          <ionic-selectable (onSearch)="searchIonicSelect($event)" [(ngModel)]="data.customer_id_list"
            itemValueField="id" shouldStoreItemValue="id" itemTextField="date" [items]="customer_data_list_for_notification"
            [canClear]="false" [canSearch]="true" [isMultiple]="true" confirmButtonText="確認" clearButtonText="全部反選"
            closeButtonText="取消">
            <ng-template ionicSelectableItemTemplate let-port="item" let-isPortSelected="isItemSelected">
              {{port?.display_name}}, {{port?.email}}, {{port?.phone}}
            </ng-template>

            <ng-template ionicSelectableValueTemplate let-ids="value">
              <div class="ionic-selectable-value-item" *ngFor="let port of ids">
                {{getCustomerDataById(ids)?.phone}} 
              </div>
            </ng-template>

            <ng-template ionicSelectableSearchFailTemplate>
              <div class="ion-padding ion-text-center">
                No customer found.
              </div>
            </ng-template>
          </ionic-selectable>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid fixed *ngIf="data?.data_type == dataType.product_data">
    <ion-row>
      <ion-col size="4">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>status</mat-label>
          <mat-select [disabled]="type == 'read'" [(ngModel)]="data.status">
            <mat-option *ngFor="let item of general_status" [value]="item">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
      </ion-col>
      <ion-col size="8">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>name</mat-label>
          <input matInput type="text" [readonly]="type == 'read'" placeholder="title"
            [(ngModel)]="data.name">
        </mat-form-field>
      </ion-col>
      <ion-col size="12">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>description</mat-label>
          <input matInput type="text" [readonly]="type == 'read'" placeholder="description"
            [(ngModel)]="data.description">
        </mat-form-field>
      </ion-col>
      <ion-col size="12">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>attributes</mat-label>
          <mat-chip-list #chipList2 aria-label="option selection">
            <mat-chip
              *ngFor="let option of data.attributes"
              (removed)="remove(option, data.attributes)">
              {{option}}
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
            <input
              placeholder="New attribute..."
              #autocompleteInput
              [matAutocomplete]="auto"
              [matChipInputFor]="chipList2"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              (matChipInputTokenEnd)="add($event, data.attributes)">
          </mat-chip-list>
          <!-- <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event, data.categories)">
            <mat-option *ngFor="let item of product_categories_list" [value]="item">
              {{item}}
            </mat-option>
          </mat-autocomplete> -->
        </mat-form-field>
      </ion-col>
      <ion-col size="12">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>categories</mat-label>
          <mat-chip-list #chipList aria-label="option selection">
            <mat-chip
              *ngFor="let option of data.categories"
              (removed)="remove(option, data.categories)">
              {{option}}
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
            <input
              placeholder="New category..."
              #autocompleteInput
              [matAutocomplete]="auto"
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              (matChipInputTokenEnd)="add($event, data.categories)">
          </mat-chip-list>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event, data.categories)">
            <mat-option *ngFor="let item of product_categories_list" [value]="item">
              {{item}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </ion-col>
      <ion-col size="4">
        <ion-item style="--background: transparent; --inner-border-width: 0;">
          <ion-label>Redeemable</ion-label>
          <ion-checkbox [disabled]="type == 'read'" slot="start" mode="md" [checked]="data.redeemable" [(ngModel)]="data.redeemable"></ion-checkbox>
        </ion-item>
      </ion-col>
      <ion-col size="8">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Credit needed</mat-label>
          <input matInput type="text" [readonly]="type == 'read' || data.redeemable == false" placeholder="price"
            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
            [(ngModel)]="data.credit">
        </mat-form-field>
      </ion-col>
      <ion-col size="6">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Price</mat-label>
          <input matInput type="text" [readonly]="type == 'read'" placeholder="price"
            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
            [(ngModel)]="data.price">
          <mat-hint>0 for Free</mat-hint>
        </mat-form-field>
      </ion-col>
      <ion-col size="6">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>VIP Price</mat-label>
          <input matInput type="text" [readonly]="type == 'read'" placeholder="price"
            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
            [(ngModel)]="data.vip_price">
          <mat-hint>0 for Free</mat-hint>
        </mat-form-field>
      </ion-col>
      <ion-col size="4">
        <img *ngFor="let item of data.product_img_url_list" [src]="item" alt="">
        <ion-button *ngIf="type != 'read'" class="full-width" (click)="triggerImgUpload('product_img_url_list')" color="warning"
          fill="outline">
          Upload Product Images
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid fixed *ngIf="data?.data_type == dataType.order_data">
    <ion-row>
      <ion-col size="4">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>status</mat-label>
          <mat-select [disabled]="type == 'read'" [(ngModel)]="data.status">
            <mat-option *ngFor="let item of order_status" [value]="item">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
      </ion-col>
      <ion-col size="4">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>customer name</mat-label>
          <input matInput type="text" readonly placeholder="title"
            [(ngModel)]="data.customer_data.display_name">
        </mat-form-field>
      </ion-col>
      <ion-col size="4">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>customer email</mat-label>
          <input matInput type="text" readonly placeholder="title"
            [(ngModel)]="data.customer_data.email">
        </mat-form-field>
      </ion-col>
      <ion-col size="4">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>customer phone</mat-label>
          <input matInput type="text" readonly placeholder="title"
            [(ngModel)]="data.customer_data.phone">
        </mat-form-field>
      </ion-col>
      <ion-col size="4" >
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Vip</mat-label>
          <mat-select disabled [(ngModel)]="data.is_vip">
            <mat-option [value]="true">True</mat-option>
            <mat-option [value]="false">False</mat-option>
          </mat-select>
        </mat-form-field>
      </ion-col>
      <ion-col size="4" >
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Redeemption</mat-label>
          <mat-select disabled [(ngModel)]="data.is_redeemption">
            <mat-option [value]="true">True</mat-option>
            <mat-option [value]="false">False</mat-option>
          </mat-select>
        </mat-form-field>
      </ion-col>
      <ion-col size="12">
        <app-order [order_data]="data" [allow_edit]="false"></app-order>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end" *ngIf="type != 'read'">
      <ion-button color="success" fill="outline" (click)="submitForm()">
        Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>