<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>顧客簽名</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="quotation"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-margin">

    <canvas class="signature-pad-canvas" #canvas width="900" height="400" style="touch-action: none;"></canvas>
    <div class="full-width ion-padding">
      <ion-button class="app-default-btn full-width clear-btn" (click)="clear()">
        <ion-icon style="color: #ffffff;" slot="start" name="close-outline"></ion-icon>
        清除
      </ion-button>
    </div>
  </div>

  <!-- <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="prev()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="next()">
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
