canvas {
    border: 3px dashed gray;
    width: 100%;
}

.clear-btn{
    --background: var(--ion-color-app);
    --background-activated: var(--ion-color-app);
    --background-focused: var(--ion-color-app);
    --background-hover: var(--ion-color-app);
}