<div *ngIf="data_type == 'order_data'">
  <ion-button color="app" fill="outline" (click)="downloadOrderReport()">
    <ion-icon slot="start" name="download"></ion-icon>
    Order report
  </ion-button>
</div>
<div *ngIf="data_type == 'design_order_data'">
  <ion-button color="app" fill="outline" (click)="downloadDesignOrderReport()">
    <ion-icon slot="start" name="download"></ion-icon>
    Design order report
  </ion-button>

  <ion-button color="app" fill="outline" (click)="downloadPartnerAccPerformanceReport()">
    <ion-icon slot="start" name="download"></ion-icon>
    Monthly partner performance report
  </ion-button>

  <ion-button color="app" fill="outline" (click)="downloadPartnerCommissionReport()">
    <ion-icon slot="start" name="download"></ion-icon>
    Commission report
  </ion-button>

</div>

<mat-form-field appearance="standard">
  <mat-label>Search</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Input keyword" #input>
</mat-form-field>

<table *ngIf="data_type == 'customer_data'" mat-table [dataSource]="dataSource" matSort>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <mat-icon class="clickable" style="color: red;" (click)="deleteDataRequest(element)">delete_outline</mat-icon>
  </ng-container>
  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
    <td mat-cell *matCellDef="let element"> {{element?.username}} </td>
  </ng-container>
  <ng-container matColumnDef="display_name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Display name </th>
    <td mat-cell *matCellDef="let element"> {{element?.display_name}} </td>
  </ng-container>
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
    <td mat-cell *matCellDef="let element"> {{element?.email}} </td>
  </ng-container>
  <ng-container matColumnDef="is_vip">
    <th mat-header-cell *matHeaderCellDef> Vip </th>
    <td mat-cell *matCellDef="let element;"> {{element?.is_vip}} </td>
  </ng-container>
  <ng-container matColumnDef="create_datetime">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Create datetime </th>
    <td mat-cell *matCellDef="let element;"> {{element?.create_datetime | date:'yyyy-MM-dd HH:mm'}} </td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let element" class="ion-text-right">
      <ion-button (click)="modalService?.presentTableModal('read', element)" color="primary" fill="outline">
        View
      </ion-button>
      <ion-button (click)="modalService?.presentTableModal('edit', element)" color="secondary" fill="outline">
        Edit
      </ion-button>

    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
  </tr>

</table>


<table *ngIf="data_type == 'partner_data'" mat-table [dataSource]="dataSource" matSort>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <mat-icon class="clickable" style="color: red;" (click)="deleteDataRequest(element)">delete_outline</mat-icon>
  </ng-container>
  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
    <td mat-cell *matCellDef="let element"> {{element?.username}} </td>
  </ng-container>
  <ng-container matColumnDef="display_name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Display name </th>
    <td mat-cell *matCellDef="let element"> {{element?.display_name}} </td>
  </ng-container>
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
    <td mat-cell *matCellDef="let element"> {{element?.email}} </td>
  </ng-container>
  <ng-container matColumnDef="is_staff">
    <th mat-header-cell *matHeaderCellDef> Staff </th>
    <td mat-cell *matCellDef="let element;"> {{element?.is_staff}} </td>
  </ng-container>
  <ng-container matColumnDef="create_datetime">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Create datetime </th>
    <td mat-cell *matCellDef="let element;"> {{element?.create_datetime | date:'yyyy-MM-dd HH:mm'}} </td>
  </ng-container>
  <ng-container matColumnDef="sales">
    <th mat-header-cell *matHeaderCellDef> Sales </th>
    <td mat-cell *matCellDef="let element" class="ion-text-right">
      <ion-button (click)="goSalesSummary(element)" color="app" fill="outline">
        Summary
      </ion-button>
      <ion-button (click)="goActivityLog(element)" color="app" fill="outline">
        Activity Log
      </ion-button>
    </td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let element" class="ion-text-right">
      <ion-button (click)="presentResetPartnerPasswordAlert(element)" color="tertiary" fill="outline">
        Reset Password
      </ion-button>
      <ion-button (click)="modalService?.presentTableModal('read', element)" color="primary" fill="outline">
        View
      </ion-button>
      <ion-button (click)="modalService?.presentTableModal('edit', element)" color="secondary" fill="outline">
        Edit
      </ion-button>

    </td>
  </ng-container>

  

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
  </tr>
</table>

<table *ngIf="data_type == 'reservation_timeslot_data'" mat-table [dataSource]="dataSource" matSort>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <mat-icon class="clickable" style="color: red;" (click)="deleteDataRequest(element)">delete_outline</mat-icon>
  </ng-container>
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
    <td mat-cell *matCellDef="let element"> {{element?.date | date:'yyyy-MM-dd'}} </td>
  </ng-container>
  <ng-container matColumnDef="start_time">
    <th mat-header-cell *matHeaderCellDef > Start Time </th>
    <td mat-cell *matCellDef="let element"> {{element?.start_time}} </td>
  </ng-container>
  <ng-container matColumnDef="end_time">
    <th mat-header-cell *matHeaderCellDef > End Time </th>
    <td mat-cell *matCellDef="let element"> {{element?.end_time}} </td>
  </ng-container>
  <ng-container matColumnDef="quota">
    <th mat-header-cell *matHeaderCellDef> Quota </th>
    <td mat-cell *matCellDef="let element;"> {{element?.quota}} </td>
  </ng-container>
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
    <td mat-cell *matCellDef="let element;"> {{element?.price}} </td>
  </ng-container>
  <ng-container matColumnDef="create_datetime">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Create datetime </th>
    <td mat-cell *matCellDef="let element;"> {{element?.create_datetime | date:'yyyy-MM-dd HH:mm'}} </td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let element" class="ion-text-right">
      <ion-button (click)="modalService?.presentTableModal('read', element)" color="primary" fill="outline">
        View
      </ion-button>
      <ion-button (click)="modalService?.presentTableModal('edit', element)" color="secondary" fill="outline">
        Edit
      </ion-button>

    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
  </tr>
</table>

<table *ngIf="data_type == 'appointment_data'" mat-table [dataSource]="dataSource" matSort>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <mat-icon class="clickable" style="color: red;" (click)="deleteDataRequest(element)">delete_outline</mat-icon>
  </ng-container>
  <ng-container matColumnDef="reservation_datetime">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Datetime </th>
    <td mat-cell *matCellDef="let element"> {{element?.reservation_timeslot_data?.date | date:'yyyy-MM-dd'}} <br> {{element?.reservation_timeslot_data?.start_time}} - {{element?.reservation_timeslot_data?.end_time}}</td>
  </ng-container>
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef > status </th>
    <td mat-cell *matCellDef="let element"> {{element?.status}} </td>
  </ng-container>
  <ng-container matColumnDef="customer">
    <th mat-header-cell *matHeaderCellDef > Customer </th>
    <td mat-cell *matCellDef="let element"> {{element?.customer_data?.display_name}} </td>
  </ng-container>
  <ng-container matColumnDef="partner">
    <th mat-header-cell *matHeaderCellDef > Partner </th>
    <td mat-cell *matCellDef="let element"> {{element?.partner_data?.display_name}} </td>
  </ng-container>
  <ng-container matColumnDef="create_datetime">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Create datetime </th>
    <td mat-cell *matCellDef="let element;"> {{element?.create_datetime | date:'yyyy-MM-dd HH:mm'}} </td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let element" class="ion-text-right">
      <ion-button (click)="presentCustomNotificationAlert(element)" color="app" fill="outline">
        Custom Noti
      </ion-button>
      <ion-button (click)="modalService?.presentTableModal('read', element)" color="primary" fill="outline">
        View
      </ion-button>
      <ion-button (click)="modalService?.presentTableModal('edit', element)" color="secondary" fill="outline">
        Edit
      </ion-button>

    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
  </tr>
</table>

<table *ngIf="data_type == 'banner_data'" mat-table [dataSource]="dataSource" matSort>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <mat-icon class="clickable" style="color: red;" (click)="deleteDataRequest(element)">delete_outline</mat-icon>
  </ng-container>
  <ng-container matColumnDef="image">
    <th mat-header-cell *matHeaderCellDef> Image </th>
    <td mat-cell *matCellDef="let element">
      <ion-thumbnail>
        <img [src]="element?.img_url" />
      </ion-thumbnail>
    </td>
  </ng-container>
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef > status </th>
    <td mat-cell *matCellDef="let element"> {{element?.status}} </td>
  </ng-container>
  <ng-container matColumnDef="create_datetime">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Create datetime </th>
    <td mat-cell *matCellDef="let element;"> {{element?.create_datetime | date:'yyyy-MM-dd HH:mm'}} </td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let element" class="ion-text-right">
      <ion-button (click)="modalService?.presentTableModal('read', element)" color="primary" fill="outline">
        View
      </ion-button>
      <ion-button (click)="modalService?.presentTableModal('edit', element)" color="secondary" fill="outline">
        Edit
      </ion-button>

    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
  </tr>
</table>

<table *ngIf="data_type == 'question_data'" mat-table [dataSource]="dataSource" matSort>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <mat-icon class="clickable" style="color: red;" (click)="deleteDataRequest(element)">delete_outline</mat-icon>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef > status </th>
    <td mat-cell *matCellDef="let element"> {{element?.status}} </td>
  </ng-container>
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef > title </th>
    <td mat-cell *matCellDef="let element"> {{element?.title}} </td>
  </ng-container>
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef > description </th>
    <td mat-cell *matCellDef="let element"> {{element?.description}} </td>
  </ng-container>
  <ng-container matColumnDef="response">
    <th mat-header-cell *matHeaderCellDef > response </th>
    <td mat-cell *matCellDef="let element"> {{element?.no_of_response}} </td>
  </ng-container>
  <ng-container matColumnDef="create_datetime">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Create datetime </th>
    <td mat-cell *matCellDef="let element;"> {{element?.create_datetime | date:'yyyy-MM-dd HH:mm'}} </td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let element" class="ion-text-right">
      <ion-button (click)="modalService?.presentTableModal('read', element)" color="primary" fill="outline">
        View
      </ion-button>
      <ion-button (click)="modalService?.presentTableModal('edit', element)" color="secondary" fill="outline">
        Edit
      </ion-button>

    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
  </tr>
</table>

<table *ngIf="data_type == 'notification_data'" mat-table [dataSource]="dataSource" matSort>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <mat-icon class="clickable" style="color: red;" (click)="deleteDataRequest(element)">delete_outline</mat-icon>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef > status </th>
    <td mat-cell *matCellDef="let element"> {{element?.status}} </td>
  </ng-container>
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef > title </th>
    <td mat-cell *matCellDef="let element"> {{element?.title}} </td>
  </ng-container>
  <ng-container matColumnDef="content">
    <th mat-header-cell *matHeaderCellDef > content </th>
    <td mat-cell *matCellDef="let element"> {{element?.content}} </td>
  </ng-container>
  <ng-container matColumnDef="create_datetime">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Create datetime </th>
    <td mat-cell *matCellDef="let element;"> {{element?.create_datetime | date:'yyyy-MM-dd HH:mm'}} </td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let element" class="ion-text-right">
      <ion-button (click)="modalService?.presentTableModal('read', element)" color="primary" fill="outline">
        View
      </ion-button>
      <ion-button (click)="modalService?.presentTableModal('edit', element)" color="secondary" fill="outline">
        Edit
      </ion-button>

    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
  </tr>
</table>

<table *ngIf="data_type == 'product_data'" mat-table [dataSource]="dataSource" matSort>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <mat-icon class="clickable" style="color: red;" (click)="deleteDataRequest(element)">delete_outline</mat-icon>
  </ng-container>

  <ng-container matColumnDef="image">
    <th mat-header-cell *matHeaderCellDef > image </th>
    <td mat-cell *matCellDef="let element">
      <ion-thumbnail *ngIf="element.product_img_url_list.length > 0">
        <img [src]="element.product_img_url_list[0]" />
      </ion-thumbnail>
    </td>
  </ng-container>
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef > status </th>
    <td mat-cell *matCellDef="let element"> {{element?.status}} </td>
  </ng-container>
  <ng-container matColumnDef="redeemable">
    <th mat-header-cell *matHeaderCellDef > redeemable </th>
    <td mat-cell *matCellDef="let element"> {{element?.redeemable ? 'Yes' : 'No'}} </td>
  </ng-container>
  <ng-container matColumnDef="credit">
    <th mat-header-cell *matHeaderCellDef > credit needed </th>
    <td mat-cell *matCellDef="let element"> {{element?.credit}} </td>
  </ng-container>
  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef > category </th>
    <td mat-cell *matCellDef="let element"> {{element?.category?.join(',')}} </td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef > name </th>
    <td mat-cell *matCellDef="let element"> {{element?.name}} </td>
  </ng-container>
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> price </th>
    <td mat-cell *matCellDef="let element"> {{element?.price}} </td>
  </ng-container>
  <ng-container matColumnDef="vip_price">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> VIP price </th>
    <td mat-cell *matCellDef="let element"> {{element?.vip_price}} </td>
  </ng-container>
  <ng-container matColumnDef="inventory">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> inventory </th>
    <td mat-cell *matCellDef="let element"> {{element?.inventory}} </td>
  </ng-container>
  <ng-container matColumnDef="create_datetime">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Create datetime </th>
    <td mat-cell *matCellDef="let element;"> {{element?.create_datetime | date:'yyyy-MM-dd HH:mm'}} </td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let element" class="ion-text-right">
      <ion-button (click)="modalService?.presentTableModal('read', element)" color="primary" fill="outline">
        View
      </ion-button>
      <ion-button (click)="modalService?.presentTableModal('edit', element)" color="secondary" fill="outline">
        Edit
      </ion-button>

    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
  </tr>
</table>

<table *ngIf="data_type == 'order_data'" mat-table [dataSource]="dataSource" matSort>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <mat-icon class="clickable" style="color: red;" (click)="deleteDataRequest(element)">delete_outline</mat-icon>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef > status </th>
    <td mat-cell *matCellDef="let element"> {{element?.status}} </td>
  </ng-container>
  <ng-container matColumnDef="customer_data">
    <th mat-header-cell *matHeaderCellDef > Customer </th>
    <td mat-cell *matCellDef="let element"> 
      {{element?.customer_data?.display_name}} <br>
      {{element?.customer_data?.email}}
     </td>
  </ng-container>
  <ng-container matColumnDef="cart">
    <th mat-header-cell *matHeaderCellDef > Cart </th>
    <td mat-cell *matCellDef="let element"> 
      <ng-container *ngFor="let item of element.cart">
        product: {{item?.product_data?.name}} &nbsp; &nbsp; quantity: {{item.quantity}} <br>
      </ng-container>
     </td>
  </ng-container>
  <ng-container matColumnDef="total_amount">
    <th mat-header-cell *matHeaderCellDef > total </th>
    <td mat-cell *matCellDef="let element"> {{element?.is_redeemption ?  element?.total_credit+' credit' : '$'+element?.total_amount}} </td>
  </ng-container>
  <ng-container matColumnDef="create_datetime">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Create datetime </th>
    <td mat-cell *matCellDef="let element;"> {{element?.create_datetime | date:'yyyy-MM-dd HH:mm'}} </td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let element" class="ion-text-right">
      <ion-button (click)="presentCustomNotificationAlert(element)" color="app" fill="outline">
        Custom Noti
      </ion-button>
      <ion-button (click)="modalService?.presentTableModal('read', element)" color="primary" fill="outline">
        View
      </ion-button>
      <ion-button (click)="modalService?.presentTableModal('edit', element)" color="secondary" fill="outline">
        Edit
      </ion-button>

    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
  </tr>
</table>

<table *ngIf="data_type == 'design_order_data'" mat-table [dataSource]="dataSource" matSort>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <mat-icon class="clickable" style="color: red;" (click)="deleteDataRequest(element)">delete_outline</mat-icon>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef > status </th>
    <td mat-cell *matCellDef="let element"> {{element?.status}} </td>
  </ng-container>
  <ng-container matColumnDef="design_product">
    <th mat-header-cell *matHeaderCellDef > Product </th>
    <td mat-cell *matCellDef="let element"> 
      {{element?.design_product?.product_type}}
     </td>
  </ng-container>
  <ng-container matColumnDef="total_amount">
    <th mat-header-cell *matHeaderCellDef > total amount</th>
    <td mat-cell *matCellDef="let element"> {{element?.total_amount}} </td>
  </ng-container>
  <ng-container matColumnDef="commission">
    <th mat-header-cell *matHeaderCellDef > total commission </th>
    <td mat-cell *matCellDef="let element"> {{element?.commission}} </td>
  </ng-container>
  <ng-container matColumnDef="create_datetime">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Create datetime </th>
    <td mat-cell *matCellDef="let element;"> {{element?.create_datetime | date:'yyyy-MM-dd HH:mm'}} </td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let element" class="ion-text-right">
      <ion-button (click)="modalService?.presentTableModal('read', element)" color="primary" fill="outline">
        View
      </ion-button>
      <ion-button (click)="modalService?.presentTableModal('edit', element)" color="secondary" fill="outline">
        Edit
      </ion-button>

    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
  </tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>